{% load i18n %}
<div
        id="createIntervalModal"
        class="fixed z-10 inset-0 overflow-y-auto"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
>
    <div
            class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
        <!--
        Background overlay, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
        <div
                onclick="toggleModal('createIntervalModal')"
                class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity ease-out duration-300 opacity-100"
                aria-hidden="true"
        ></div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span
                class="hidden sm:inline-block sm:align-middle sm:h-screen"
                aria-hidden="true"
        >&#8203;</span
        >

        <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
        <div
                class="relative inline-block align-bottom bg-white rounded px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition sm:my-8 sm:align-middle sm:w-full sm:max-w-sm md:max-w-screen-md lg:max-w-screen-md xl:max-w-screen-lg sm:p-6 ease-in-out duration-300 opacity-100 translate-y-0 sm:scale-100 overflow-y-auto"
                style="max-height: 70vh"
        >
            <button class="absolute top-4 right-4" onclick="toggleModal('createIntervalModal')">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                >
                    <path
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                    />
                </svg>
            </button>
            <form hx-post="{% url 'hx_interval_create' %}" hx-target="#createIntervalModal" hx-swap="outerHTML">
                <p class="mb-2">{% blocktrans %}Create new interval{% endblocktrans %}</p>
                {% include "tailwind-form.html" %}
                <div class="mt-2">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="button" onclick="toggleModal('createIntervalModal')">Abort
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

