{% load i18n %}
{% load nice_timedelta %}

<div id="totalWorkTime" hx-swap-oob="true">
    <p>{% blocktrans %}Total Work Time{% endblocktrans %}: {{ total_work_time_today|floatformat:2 }}h</p>
</div>

<div id="progress" hx-swap-oob="true">
    {% for employment_progress in contracted_time_per_employment %}
        <a class="group card w-auto md:w-64 relative"
           href="{% url 'timesheets_current_week_employment' employment_progress.employment.id %}">
            <span class="">
                {{ employment_progress.employment.company.name }} {{ employment_progress.progress|floatformat:1 }}%
            </span>

            <span class="text-sm hidden group-hover:block text-gray-600 m-1 p-1 rounded bg-primarycolor-100 absolute bg-white top-0 right-0 z-50">
                {% trans 'remaining' %}: <span class="font-bold">{{ employment_progress.remaining_time|floatformat:2 }}h</span>
                ({{ employment_progress.worked_time|floatformat:2}}h/{{ employment_progress.contracted_time|floatformat:2}}h)
            </span>
            <div class="bg-red-200 w-full overflow-hidden h-2 mb-2 text-xs flex rounded bg-primarycolor-200">
                <div id="progress{{ employment_progress.employment.pk }}"
                     style="transition: width .6s ease; width:{{ employment_progress.progress_str}}%"

                     class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-primarycolor-500">
                </div>
            </div>
        </a>
    {% endfor %}
</div>


<div>
    {% if intervals %}
        <table class="timesheetstable">
            <tr class="timesheetstable-header">
                <th></th>
                <th>{% trans "Start" %}</th>
                <th>{% trans "End" %}</th>
                <th>{% trans "Category" %}</th>
                <th>{% trans "Subcategory" %}</th>
                <th>{% trans "Notes" %}</th>
                <th>{% trans "Issue" %}</th>
                <th>{% trans "Duration" %}</th>
                <th>{% trans "Company" %}</th>
            </tr>
            {% for interval in intervals %}
                <tr class="timesheetstable-row">
                    <td>
                        <div class="flex flex-row gap-1">
                            <button
                                    hx-get="{% url 'hx_interval_update' interval.pk %}"
                                    hx-target="#intervalsForm"
                                    class="btn-icon btn-secondary"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                                </svg>
                            </button>
                            <button
                                    hx-post="{% url 'hx_interval_delete' interval.pk %}"
                                    hx-confirm="Really delete Interval {{ interval.pk }}?"
                                    hx-target="#intervalsForm"
                                    class="btn-icon btn-danger"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                </svg>
                            </button>
                        </div>


                    </td>
                    <td>{{ interval.start|date:"Y-m-d H:i"}}</td>
                    <td>{{ interval.end|date:"Y-m-d H:i" }}</td>
                    <td>{{ interval.category.name }}</td>
                    <td>{{ interval.subcategory.name }}</td>
                    <td>{{ interval.notes }}</td>
                    <td>
                    <div class="flex flex-col gap-1">
                        {% if interval.issue_url %}<a href="{{ interval.issue_url }}" target="_blank" class="link" >{{ interval.issue_url }}</a> {% endif %}
                        {{ interval.issue_reference }}
                    </div>

                    </td>
                    <td>{{ interval.get_duration|decimal_hours|floatformat:2 }}</td>
                    <td>{{ interval.company }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% blocktrans %}There are no intervals.{% endblocktrans %}</p>
    {% endif %}
</div>


<div id="configurationChecks" hx-swap-oob="true">
    <div class="flex justify-start flex-wrap">

        <a href="{% url 'management_interval_integrity' %}" class="card">
            <p class="text-sm">Interval Integrity</p>
            {% if interval_issues == 0 %}
                <svg class="w-12 h-12 text-primarycolor-500" fill="none" stroke="currentColor"
                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 13l4 4L19 7"></path>
                </svg>
                <p>Ok</p>
            {% else %}
                <svg class="w-12 h-12 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>
                </svg>
                <p>Not Ok</p>
            {% endif %}
        </a>
        {% for data in employment_period_issues %}
            <a href="{% url 'management_dashboard' %}" class="card">
                <p class="text-sm">{{ data.employment.company.name }}</p>
                {% if data.issues|length == 0 %}
                    <svg class="w-12 h-12 text-primarycolor-500" fill="none" stroke="currentColor"
                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M5 13l4 4L19 7"></path>
                    </svg>
                    <p>Ok</p>
                {% else %}
                    <svg class="w-12 h-12 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>
                    </svg>
                    <p>Not Ok</p>
                {% endif %}
            </a>
        {% endfor %}

    </div>
</div>

<div id="publicHolidaysList" hx-swap-oob="true">
   {% if public_holidays %}
        <div class="flex flex-col gap-3">
            <h3 class="font-bold">Public Holidays</h3>
            <div class="flex flex-col gap-2">
            {% for public_holiday in public_holidays %}
                {% include "components/public_holiday_card.html" %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

<div id="sicknessPeriodsList" hx-swap-oob="true">
    {% if sickness_periods %}
        <div class="flex flex-col gap-3">
            <h3 class="font-bold">Sickness Periods</h3>
            <div class="flex flex-col gap-2">
            {% for sickness_period in sickness_periods %}
                {% include "sickness/../../../sickness/templates/components/sickness_period_card.html" %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
</div>