{% extends 'tailwind-base.html' %}
{% load i18n %}





{% block title %}{% blocktrans with id=interval.pk%}Edit Interval {{ id }}{% endblocktrans %}{% endblock %}

{% block content %}




<form action="#" method="post">{% csrf_token %}
    {% include "tailwind-form.html" %}

    <div class="my-6 flex flex-row gap-4">
        <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
        <button class="btn btn-secondary" type="button" onclick="goBack()">{% trans "Back" %}</button>
        <button class="btn btn-danger" type="submit" formaction="{% url 'timesheets_delete_interval' interval.pk %}" formmethod="get">{% trans "Delete" %}</button>
    </div>


</form>

<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}