{% extends 'tailwind-base.html' %}
{% load i18n %}


{% load nice_timedelta %}

{% block title %}{% blocktrans %}Delete Interval {{ interval.pk }}{% endblocktrans %}{% endblock %}
{% block content %}


<div class="">
 <table class="timesheetstable">
  <tr class="timesheetstable-header">
    <th align=left>ID</th>
    <th align=left>Start</th>
    <th align=left>End</th>
    <th align=left>Category</th>
    <th align=left>Subcategory</th>
    <th align=left>Notes</th>
    <th align=left>Duration</th>
  </tr>
  <tr class="timesheetstable-row">
    <td><a href="{% url "timesheets_edit_interval" interval.id %}">{{ interval.id }}</a></td>
    <td>{{ interval.start|date:"Y-m-d H:i"}}</td>
    <td>{{ interval.end|date:"Y-m-d H:i" }}</td>
    <td>{{ interval.category.name }}</td>
    <td>{{ interval.subcategory.name }}</td>
    <td>{{ interval.notes }}</td>
    <td>{{ interval.get_duration|decimal_hours|floatformat:2 }}</td>
  </tr>
</table>
</div>

<p class="my-2">{% blocktrans %}Are you sure you want to delete this Interval?{% endblocktrans %}</p>

<form>{% csrf_token %}
    <div class="my-6 flex flex-row gap-4">
        <button class="btn btn-secondary" formaction="{% url 'timesheets_edit_interval' interval.pk %}" formmethod="get">{% trans "Back" %}</button>
        <button type="submit" class="btn btn-danger" formaction="{% url 'timesheets_delete_interval' interval.pk %}" formmethod="post">{% trans "Delete" %}</button>
    </div>

</form>

{% endblock %}