{% extends 'tailwind-base.html' %}
{% load i18n %}


{% block title %}{% blocktrans %}Add new Interval{% endblocktrans %}{% endblock %}

{% block content %}


<form action="#" method="post">{% csrf_token %}
    {% include "tailwind-form.html" %}
<div class="my-6 flex flex-row gap-4">
    <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}" />
</div>
</form>

{% endblock %}