{% extends 'tailwind-base.html' %}
{% load i18n %}


{% block title %}{% blocktrans %}Today Legacy{% endblocktrans %}{% endblock %}

{% block content %}


    {% load nice_timedelta %}
    <p>Total Work Time: {{ total_work_time_today|floatformat:2 }}h</p>

    <div class="mt-14 mb-8">
        <h3 class="font-bold">{% trans "Progress" %}</h3>
        {% for employment_progress in contracted_time_per_employment %}
            <a class="group card w-auto md:w-64 relative"
               href="{% url 'timesheets_current_week_employment' employment_progress.employment.id %}">
            <span class="">
                {{ employment_progress.employment.company.name }} {{ employment_progress.progress|floatformat:1 }}%
            </span>

                <span class="text-sm hidden group-hover:block text-gray-600 m-1 p-1 rounded bg-primarycolor-100 absolute bg-white top-0 right-0 z-50">
                remaining: <span class="font-bold">{{ employment_progress.remaining_time|floatformat:2 }}h</span>
                ({{ employment_progress.worked_time|floatformat:2}}h/{{ employment_progress.contracted_time|floatformat:2}}h)
            </span>
                <div class="bg-red-200 w-full overflow-hidden h-2 mb-2 text-xs flex rounded bg-primarycolor-200">
                    <div style="width:{{ employment_progress.progress|floatformat:1}}%"
                         class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-primarycolor-500"></div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="mt-14 mb-8">
        <h3 class="font-bold">{% trans "Intervals" %}</h3>
        <form class="my-4" action="{% url 'timesheets_create_interval' %}">
            <input class="btn btn-primary" type="submit" value="Add Interval"/>
        </form>

        {% if intervals_today %}
            <p>{% blocktrans %}All Intervals that were booked today:{% endblocktrans %}</p>
            <div class="">
                <table class="timesheetstable">
                    <tr class="timesheetstable-header">
                        <th></th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Notes</th>
                        <th>Duration</th>
                        <th>Company</th>
                    </tr>
                    {% for interval in intervals_today %}
                        <tr class="timesheetstable-row">
                            <td>
                                <a class="btn-icon btn-secondary"
                                   href="{% url "timesheets_edit_interval" interval.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                                    </svg>
                                </a>
                            </td>
                            <td>{{ interval.start|date:"Y-m-d H:i"}}</td>
                            <td>{{ interval.end|date:"Y-m-d H:i" }}</td>
                            <td>{{ interval.category.name }}</td>
                            <td>{{ interval.subcategory.name }}</td>
                            <td>{{ interval.notes }}</td>
                            <td>{{ interval.get_duration|decimal_hours|floatformat:2 }}</td>
                            <td>{{ interval.company }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p>{% blocktrans %}You did not book any intervals for today.{% endblocktrans %}</p>
        {% endif %}
    </div>

    <div class="mt-14 mb-8">
        <h3 class=" font-bold">{% blocktrans %}Configuration Checks{% endblocktrans %}</h3>
        <div class="flex justify-start flex-wrap">

            <a href="{% url 'management_interval_integrity' %}" class="card">
                <p class="text-sm">{% blocktrans %}Interval Integrity{% endblocktrans %}</p>
                {% if interval_issues == 0 %}
                    <svg class="w-12 h-12 text-primarycolor-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                    <p>{% trans "Ok" %}</p>
                {% else %}
                    <svg class="w-12 h-12 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>
                    </svg>
                    <p>{% blocktrans %}Not Ok{% endblocktrans %}</p>
                {% endif %}
            </a>
            {% for data in employment_period_issues %}
                <a href="{% url 'management_dashboard' %}" class="card">
                    <p class="text-sm">{{ data.employment.company.name }}</p>
                    {% if data.issues|length == 0 %}
                        <svg class="w-12 h-12 text-primarycolor-500" fill="none" stroke="currentColor"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M5 13l4 4L19 7"></path>
                        </svg>
                        <p>{% trans "Ok" %}</p>
                    {% else %}
                        <svg class="w-12 h-12 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>
                        </svg>
                        <p>{% blocktrans %}Not Ok{% endblocktrans %}</p>
                    {% endif %}
                </a>
            {% endfor %}

        </div>
    </div>

{% endblock %}