{% extends 'tailwind-base.html' %}

{% load i18n %}

{% block title %}{% trans 'Today' %}{% endblock %}

{% block content %}
    {% load nice_timedelta %}
    <div class="flex flex-col gap-8">


        <div id="totalWorkTime"></div>

        <div class="flex flex-col gap-4">
            <div id="progress"></div>
        </div>

        <div class="flex flex-col gap-4">
            <h3 class="font-bold">{% trans "Intervals" %}</h3>

            <div class="flex flex-row gap-2 flex-wrap items-center">
                <a hx-get="{% url 'hx_interval_create' %}" hx-target="#intervalsForm" class="btn btn-primary">
                    {% blocktrans %}Add Interval{% endblocktrans %}
                </a>
                <button hx-get="{% url 'hx_intervals_today' %}" hx-target="#intervalsList" class="btn btn-secondary">
                    {% trans "Refresh" %}
                </button>
            </div>
        </div>


        <div id="intervalsForm"></div>

        <div class="hidden" hx-trigger="load" hx-get={% url "hx_intervals_today" %} hx-target="#intervalsList"></div>

        <div id="intervalsList"></div>

        <div id="publicHolidaysList"></div>

        <div id="sicknessPeriodsList"></div>


        <h3 class=" font-bold">{% blocktrans %}Configuration Checks{% endblocktrans %}</h3>

        <div id="configurationChecks"></div>

    </div>

{% endblock %}