{% extends 'tailwind-base.html' %}
{% load i18n %}
{% load static %}
{% load js %}

{% load nice_timedelta %}


{% block title %}{% blocktrans with name=employment %}Weekly Statistics - {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}

    <!-- chartjs 2.8.0 -->
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'css/Chart.min.css' %}"></script>


    <div class="my-6 flex flex-row gap-4">
        <a class="btn btn-secondary"
           href="{% url 'week_employment' employment_id=employment.id current_year=previous_year current_cw=previous_week %}">
            {% blocktrans %}Previous Week{% endblocktrans %}
        </a>
        <a class="btn btn-secondary" href="{% url 'timesheets_current_week_employment' employment_id=employment.id %}">
            {% blocktrans %}Current Week{% endblocktrans %}
        </a>
        <a class="btn btn-secondary"
           href="{% url 'week_employment' employment_id=employment.id current_year=previous_year current_cw=next_week %}">
            {% blocktrans %}Next Week{% endblocktrans %}
        </a>
    </div>


    {% if current_cw %}
        <div class="mt-14 mb-8 text-left">
            <table class="">
                <tr class="border-b-2 border-primarycolor-300">
                    <th></th>
                    <th class="p-2">{% blocktrans with current_cw=current_cw %}CW
                        {{ current_cw }}{% endblocktrans %}</th>
                </tr>
                <tr>
                    <td class="p-2">{% blocktrans %}Total Work Time{% endblocktrans %}</td>
                    <td class="p-2">
                        {% if total_work_time_this_week %}{{ total_work_time_this_week.duration|decimal_hours|floatformat:2 }}{% endif %}
                        {% if required_work_time_this_week %}
                            {% blocktrans %}out of{% endblocktrans %}
                            {{ required_work_time_this_week|floatformat:2}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="p-2">{% blocktrans %}Total Booked Time{% endblocktrans %}</td>
                    <td class="p-2"> {% if total_booked_time_this_week %}{{ total_booked_time_this_week.duration|decimal_hours|floatformat:2 }}{% endif %}</td>
                </tr>
                <tr>
                    <td class="p-2">{% blocktrans %}Overtime Track{% endblocktrans %}</td>
                        <td class="p-2">{{ overtime_at_end_of_current_week_new|floatformat:2 }}</td>
                </tr>
            </table>
        </div>
    {% endif %}

    {% if required_work_time_this_week and total_work_time_this_week %}
        <div class="mt-14 mb-8">
            <p class="">
                {% blocktrans with rwt=required_work_time_this_week|floatformat:2 percent=work_time_progress_percent|floatformat:1 %}
                    Progress towards {{ rwt }}h: {{ percent }}%
                {% endblocktrans %}</p>
            <div class="relative pt-1 my-2">
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-primarycolor-200">
                    <div style="width:{{ work_time_progress_percent|floatformat:1}}%"
                         class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-primarycolor-500"></div>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="max-w-6xl">
        <canvas id="weekTimeStatisticsChart" class="max-w-xl" width="300" height="200"></canvas>
    </div>


    {% if sickness_periods %}
        <h3 class="mt-10 font-bold text-lg">{% blocktrans %}Sickness Periods{% endblocktrans %}</h3>
        <div class="mt-4 flex flex-col gap-4">
            {% for sickness_period in sickness_periods %}
                {% include "components/sickness_period_card.html" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if days_of_calendar_week and subcategories_in_week_with_subcat and categories_in_week_with_subcat  and week_time_sub_cat_list %}
        <div class="mt-8 mb-8">
            <p class="">{% blocktrans %}Weekly time statistics for project specific time{% endblocktrans %}</p>
            <table class="timesheetstable">
                <tr class="timesheetstable-header">
                    <th>{% trans "Subcategory" %}</th>
                    <th>{% trans "Category" %}</th>
                    {% for day in days_of_calendar_week %}
                        <th>{{ day|date:'D. d.m.' }}</th>
                    {% endfor %}
                </tr>
                {% for subcategory in subcategories_in_week_with_subcat %}
                    {% for category in categories_in_week_with_subcat %}
                        <tr class="timesheetstable-row hover:bg-primarycolor-100">
                            <td>{{ subcategory.name }}</td>
                            <td>{{ category.name }}</td>
                            {% for date in days_of_calendar_week %}
                                {% for entry in week_time_sub_cat_list %}
                                    {% if entry.subcategory__name == subcategory.name and entry.category__name == category.name and entry.start__date|date:'d.m.y' == date|date:'d.m.y' %}
                                        {% if entry.duration|decimal_hours|floatformat:2 == "0.00" %}
                                            <td>{{ entry.duration|decimal_hours|floatformat:2 }}</td>
                                        {% else %}
                                            <td class="font-bold">{{ entry.duration|decimal_hours|floatformat:2 }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    {% endif %}


    {% if days_of_calendar_week and categories_in_week_without_subcat and week_time_cat_list %}
        <div class="mt-14 mb-8">
            <p>{% blocktrans %}Weekly time statistics for general working time{% endblocktrans %}</p>
            <table class="timesheetstable">
                <tr class="timesheetstable-header">
                    <th>{% trans "Category" %}</th>
                    {% for day in days_of_calendar_week %}
                        <th>{{ day|date:'D. d.m.'}}</th>
                    {% endfor %}
                </tr>
                {% for category in categories_in_week_without_subcat %}
                    <tr class="timesheetstable-row hover:bg-primarycolor-100">
                        <td>{{ category.name }}</td>
                        {% for date in days_of_calendar_week %}

                            {% for entry in week_time_cat_list %}
                                {% if entry.category__name == category.name and entry.start__date|date:'d.m.y' == date|date:'d.m.y' %}
                                    {% if entry.duration|decimal_hours|floatformat:2 == "0.00" %}
                                        <td>{{ entry.duration|decimal_hours|floatformat:2 }}</td>
                                    {% else %}
                                        <td class="font-bold">{{ entry.duration|decimal_hours|floatformat:2 }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}





    {% if interval_list %}
        <div class="mt-14 mb-8">
            <p>{% blocktrans %}List of Intervals in week {{ current_cw }}{% endblocktrans %}</p>

            <table class="timesheetstable">
                <tr class="timesheetstable-header">
                    <th></th>
                    <th>{% trans "Start" %}</th>
                    <th>{% trans "End" %}</th>
                    <th>{% trans "Category" %}</th>
                    <th>{% trans "Subcategory" %}</th>
                    <th>{% trans "Notes" %}</th>
                    <th>{% trans "Issue" %}</th>
                    <th>{% trans "Duration" %}</th>
                </tr>
                {% for interval in interval_list %}
                    <tr class="timesheetstable-row hover:bg-primarycolor-100">
                        <td>
                            <a class="btn-icon btn-secondary" href="{% url "timesheets_edit_interval" interval.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                                </svg>
                            </a>
                        </td>
                        <td>{{ interval.start|date:"Y-m-d H:i"}}</td>
                        <td>{{ interval.end|date:"Y-m-d H:i" }}</td>
                        <td>{{ interval.category.name }}</td>
                        <td>{{ interval.subcategory.name }}</td>
                        <td>{{ interval.notes }}</td>
                        <td> <div class="flex flex-col gap-1">
                            {% if interval.issue_url %}<a href="{{ interval.issue_url }}" target="_blank" class="link" >{{ interval.issue_url }}</a> {% endif %}
                            {{ interval.issue_reference }}
                            </div>
                        </td>
                        <td>{{ interval.get_duration|decimal_hours|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>{% blocktrans %}No intervals are available in CW {{ current_cw }}.{% endblocktrans %}</p>
    {% endif %}


{% endblock %}

{% block scripts %}
    <script>
        // jquery function
        $(document).ready(function () {
            var ctx = document.getElementById('weekTimeStatisticsChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ weekdays | js }},
                    datasets: [
                        {
                            label: "{% trans 'Worked' %}",

                            data: {{ worked_amount | js }},
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                        },
                        {
                            label: "{% trans 'Expected' %}",
                            data: {{ expected_amount | js }},
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            type: 'line',
                            tension: 0,
                            stepped: 'before'
                        }
                    ]
                },
            });
        });
    </script>
{% endblock scripts %}