{% extends 'tailwind-base.html' %}
{% load i18n %}
{% load js %}

{% load nice_timedelta %}



{% block title %}{% blocktrans %}Weekly Statistics{% endblocktrans %}{% endblock %}

{% block content %}
    <form>
        <div class="my-6 flex flex-row gap-4">
          <button class="btn btn-secondary" formaction="{% url 'week' current_year=previous_year current_cw=previous_week %}" type="submit">{% blocktrans %}Previous Week{% endblocktrans %}</button>
          <button class="btn btn-secondary" formaction="{% url 'timesheets_current_week' %}" type="submit" >{% blocktrans %}Current Week{% endblocktrans %}</button>
          <button class="btn btn-secondary" formaction="{% url 'week' current_year=next_year current_cw=next_week %}" type="submit">{% blocktrans %}Next Week{% endblocktrans %}</button>
        </div>
    </form>



    {% if current_cw and total_work_time_this_week and total_booked_time_this_week %}
    <div class="mt-14 mb-8 text-left">
        <table class="">
          <tr class="border-b-2 border-primarycolor-300">
            <th></th>
            <th class="p-2">{% trans "CW" %} {{ current_cw }} </th>
          </tr>
          <tr>
           <td class="p-2">{% blocktrans %}Total Work Time{% endblocktrans %}</td>
           <td class="p-2">{{ total_work_time_this_week.duration|decimal_hours|floatformat:2 }}{% if required_work_time_this_week %} out of {{ required_work_time_this_week |floatformat:2}}{% endif %}</td>
         </tr>
         <tr>
          <td class="p-2">{% blocktrans %}Total Booked Time{% endblocktrans %}</td>
          <td class="p-2">{{ total_booked_time_this_week.duration|decimal_hours|floatformat:2 }}</td>
        </tr>
        {% if  overtime_at_end_of_current_week%}
         <tr>
            <td class="p-2">{% blocktrans %}Overtime Track{% endblocktrans %}</td>
            <td class="p-2">{{ overtime_at_end_of_current_week_new|floatformat:2 }}</td>
        </tr>
        {% endif %}
        </table>
    </div>
    {% endif %}

    {% if interval_list %}
        <div class="overflow-x-auto overscroll-x-contain">
            <div class="">
                {{ div|safe}}
            </div>
        </div>
    {% endif %}

        {% if sickness_periods %}
    <h3 class="mt-10 font-bold text-lg">{% blocktrans %}Sickness Periods{% endblocktrans %}</h3>
    <div class="mt-4 flex flex-col gap-4">
        {% for sickness_period in sickness_periods %}
            <div class="rounded p-2 bg-gray-50 hover:bg-gray-100 duration-100 shadow">
                <div class="flex flex-col gap-2">
                    <div>
                        <p class="font-bold">{{ sickness_period.name }}</p>
                        <p>{{ sickness_period.start }} - {{ sickness_period.end }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if days_of_calendar_week and subcategories_in_week_with_subcat and categories_in_week_with_subcat  and week_time_sub_cat_list %}
    <div class="mt-4 mb-8">
        <p>{% blocktrans %}Weekly time statistics for project specific time{% endblocktrans %}</p>
        <table class="timesheetstable">
         <tr class="timesheetstable-header">
           <th>{% trans "Subcategory" %}</th>
           <th>{% trans "Category" %}</th>
           {% for day in days_of_calendar_week %}
           <th>{{ day|date:'D. d.m.' }}</th>
           {% endfor %}
         </tr>
           {% for subcategory in subcategories_in_week_with_subcat %}
           {% for category in categories_in_week_with_subcat %}
           <tr class="timesheetstable-row hover:bg-primarycolor-100">
            <td>{{ subcategory.name }}</td>
            <td>{{ category.name }}</td>
              {% for date in days_of_calendar_week %}
                  {% for entry in week_time_sub_cat_list %}
                    {% if entry.subcategory__name == subcategory.name and entry.category__name == category.name and entry.start__date|date:'d.m.y' == date|date:'d.m.y'%}
                      {% if entry.duration|decimal_hours|floatformat:2 == "0.00" %}
                        <td>{{ entry.duration|decimal_hours|floatformat:2 }}</td>
                      {% else %}
                        <td class="font-bold">{{ entry.duration|decimal_hours|floatformat:2 }}</td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}

              {% endfor %}
           </tr>
           {% endfor %}
         {% endfor %}
        </table>
    </div>
    {% endif %}


    {% if days_of_calendar_week and categories_in_week_without_subcat and week_time_cat_list %}
    <div class="mt-14 mb-8">
        <table class="timesheetstable">
        <caption>{% blocktrans %}Weekly time statistics for general working time{% endblocktrans %}</caption>
         <tr class="timesheetstable-header">
           <th>{% trans "Category" %}</th>
           {% for day in days_of_calendar_week %}
           <th>{{ day|date:'D. d.m.'}}</th>
           {% endfor %}
         </tr>
         {% for category in categories_in_week_without_subcat %}
         <tr class="timesheetstable-row hover:bg-primarycolor-100">
          <td>{{ category.name }}</td>
            {% for date in days_of_calendar_week %}

                {% for entry in week_time_cat_list %}
                  {% if entry.category__name == category.name and entry.start__date|date:'d.m.y' == date|date:'d.m.y'%}
                    {% if entry.duration|decimal_hours|floatformat:2 == "0.00" %}
                      <td>{{ entry.duration|decimal_hours|floatformat:2 }}</td>
                    {% else %}
                      <td class="font-bold">{{ entry.duration|decimal_hours|floatformat:2 }}/td>
                    {% endif %}
                  {% endif %}
                {% endfor %}
            {% endfor %}
         </tr>
         {% endfor %}
        </table>
    </div>
    {% endif %}





    {% if interval_list %}
    <div class="mt-14 mb-8">
       <p>{% blocktrans %}List of Intervals in week {{ current_cw }}{% endblocktrans %}</p>
        <table class="timesheetstable">
          <tr class="timesheetstable-header">
            <th></th>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
            <th>{% trans "Category" %}</th>
            <th>{% trans "Subcategory" %}</th>
            <th>{% trans "Notes" %}</th>
            <th>{% trans "Duration" %}</th>
          </tr>
          {% for interval in interval_list %}
          <tr class="timesheetstable-row hover:bg-primarycolor-100">
            <td>
                <a class="btn-icon btn-secondary" href="{% url "timesheets_edit_interval" interval.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                </a>
            </td>
            <td>{{ interval.start|date:"Y-m-d H:i"}}</td>
            <td>{{ interval.end|date:"Y-m-d H:i" }}</td>
            <td>{{ interval.category.name }}</td>
            <td>{{ interval.subcategory.name }}</td>
            <td>{{ interval.notes }}</td>
            <td>{{ interval.get_duration|decimal_hours|floatformat:2 }}</td>
          </tr>
          {% endfor %}
        </table>
    </div>
    {% else %}
        <p>{% blocktrans %}No intervals are available in CW {{current_cw}}.{% endblocktrans %}</p>
    {% endif %}


{% endblock %}


{% block scripts %}
    <script>
        // jquery function
        $(document).ready(function () {
            var ctx = document.getElementById('weekTimeStatisticsChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ weekdays | js }},
                    datasets: [
                        {
                            label: "{% trans 'Worked' %}",

                            data: {{ worked_amount | js }},
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                        },
                        {
                            label: "{% trans 'Expected' %}",
                            data: {{ expected_amount | js }},
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            type: 'line',
                            tension: 0,
                            stepped: 'before'
                        }
                    ]
                },
            });
        });
    </script>
{% endblock scripts %}