{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans "Timesheets" %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!--optional plausible snippet-->
    {% if plausible_snippet %}
        {{ plausible_snippet|safe }}
    {% endif %}

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/Chart.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sumoselect.min.css' %}">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon-180x180.png' %}"/>


</head>

<body onresize="hideNavbarAtBreakpoint()">
<!-- content-wrapper grid grid-cols-1 gap-4 md:grid-cols-1-->
<div class="text-gray-700">
    <div class="sticky top-0 bg-white z-40 text-md border-b-2 border-primarycolor-500 py-2 select-none">
        {% include "components/nav_new.html" %}
        {# {% include "components/nav_old.html" %} #}
    </div>
    {% include "components/messages.html" %}

    <div class="px-4 mt-2 mb-20">
        <h2 class="my-4 text-xl">{% block title %}{% endblock %}</h2>
        {% block content %}(no content){% endblock %}
    </div>

    {% if version and commit %}
        <div class="hidden md:block fixed bottom-0 z-40 w-full border-t-2 border-primarycolor-500 bg-white px-4 py-2">
            <p class="text-gray-600 text-sm">{% blocktrans %}Version: {{ version }}::{{ commit }}{% endblocktrans %}</p>
        </div>
    {% endif %}


</div>
<!-- own js -->
<script src="{% static 'js/htmx.min.js' %}" defer></script>
<script src="{% static 'js/setToNow.js' %}" defer></script>
<script src="{% static 'js/go_back.js' %}" defer></script>
<script src="{% static 'js/hide_message.js' %}" defer></script>
<script src="{% static 'js/navbar.js' %}" defer></script>
<script src="{% static 'js/tailwind_modal.js' %}" defer></script>
<script src="{% static 'js/toggle_dropdown.js' %}" defer></script>

<!-- css libraries -->
<script src="{% static 'js/jquery.sumoselect.min.js' %}" defer></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>


<script>
    // csrf_token for htmx post events
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>

{% block scripts %}
{% endblock scripts %}

</body>


</html>
