{% extends 'tailwind-base.html' %}
{% load i18n %}




{% block title %}{% blocktrans with name=employment.company.name %}Edit Holiday Event for {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}

<form action="#" method="post">{% csrf_token %}
    <div class="mt-4">
        <span class="my-1 font-bold">{% blocktrans %}Holiday Event{% endblocktrans %}</span>
        {% include "tailwind-form.html" %}
    </div>
    <div class="mt-4">
        <span class="my-1 font-bold">{% blocktrans %}Holiday Days in Event{% endblocktrans %}</span>
        {% include "tailwind-formset.html" %}
    </div>

    <div class="my-6 flex flex-row gap-4">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        <a class="btn btn-danger" href="{% url 'holiday_event_delete' employment.id holiday_event.pk %}">{% trans "Delete" %}</a>
    </div>
</form>




{% endblock %}