{% extends 'tailwind-base.html' %}
{% load i18n %}




{% load tz %}
{% load nice_timedelta %}


{% block title %}{% blocktrans with pk=holiday_event.pk name=employment.company.name %}Delete Holiday Event {{ pk }} for {{ name }}{% endblocktrans %}{% endblock %}
{% block content %}
 <table class="timesheetstable">
  <tr class="timesheetstable-header">
    <th>{% trans "ID" %}</th>
    <th>{% trans "Description" %}</th>
    <th>{% trans "Approved" %}</th>
    <th>{% trans "Days" %}</th>
    <th>{% trans "Start" %}</th>
    <th>{% trans "End" %}</th>
  </tr>
  <tr class="timesheetstable-row">
    <td><a class="text-primarycolor-500" href="{%  url "holiday_event_update" employment.id holiday_event.id %}" >{{ holiday_event.id }}</a></td>
    <td>{{ holiday_event.description }}</td>
    <td>{{ holiday_event.approved }}</td>
    <td>{{ holiday_event.days }}</td>
    <td>{{ holiday_event.first_day|date:"Y-m-d"}}</td>
    <td>{{ holiday_event.last_day|date:"Y-m-d"}}</td>
  </tr>
</table>

<p class="my-2">{% blocktrans %}Are you sure you want to delete this Holiday Event and all associated Holiday Days and generated Intervals?{% endblocktrans %}</p>

<form action="{% url 'holiday_event_delete' employment.id holiday_event.pk %}">
    {% csrf_token %}
    <div class="my-6 flex flex-row gap-4">
      <a href="{% url 'holiday_event_update' employment.id holiday_event.pk %}" class="btn btn-secondary">{% blocktrans %}Go Back{% endblocktrans %}</a>
      <button  type="submit" formmethod="post" class="btn btn-danger">{% trans "Delete" %}</button>
    </div>
</form>


{% endblock %}