{% extends 'tailwind-base.html' %}
{% load i18n %}





{% block title %}{% blocktrans %}Holidays{% endblocktrans %}{% endblock %}

{% block content %}

<h2 class="my-2 text-lg">{% trans "Dashboard" %}</h2>

<p>{% blocktrans %}In order to use the holdiay feature, please configure at least one employment in a company.{% endblocktrans %}</p>

{% endblock %}