{% extends 'tailwind-base.html' %}
{% load i18n %}




{% block title %}{% blocktrans with name=employment.company.name %}Create Holiday Event for {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}

<form action="#" method="post">{% csrf_token %}
    <div class="mt-4">
        <span class="my-1 font-bold">{% blocktrans %}Holiday Event{% endblocktrans %}</span>
        {% include "tailwind-form.html" %}
    </div>

    <div class="my-6 flex flex-row gap-4">
        <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
    </div>
</form>


{% endblock %}