{% extends 'tailwind-base.html' %}
{% load i18n %}





{% block title %}{% blocktrans %}Holidays{% endblocktrans %}{% endblock %}

{% block content %}
<div class="my-14">
    {% if employment_data %}
        <table class="timesheetstable">
        <tr class="timesheetstable-header">
            <th>{% trans "Employment" %}</th>
            <th>{% trans "Contracted" %}</th>
            <th>{% blocktrans %}Taken Total{% endblocktrans %}</th>
            <th>{% blocktrans %}Taken this Year{% endblocktrans %}</th>
            <th>{% trans "Avaialble" %}</th>
        </tr>
        {% for element in employment_data %}
        <tr class="timesheetstable-row ">
            <td><a class="text-primarycolor-500" href="{%  url "holiday_event_list" element.employment.id %}" >{{ element.employment.company.name }}</a></td>
            <td>{{ element.contracted_holiday_days|floatformat:1 }}</td>
            <td>{{ element.holidays_taken_total|floatformat:1 }}</td>
            <td>{{ element.holidays_taken_this_year|floatformat:1 }}</td>
            <td>{{ element.available_holiday_days|floatformat:1 }}</td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>{% blocktrans %}In order to use the holiday feature, please configure at least one employment in a company.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endblock %}