{% extends 'tailwind-base.html' %}
{% load i18n %}


{% block title %}{% blocktrans with name=employment.company.name %}Holiday events - {{ name }}
{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="flex flex-col gap-4">
        <div>
            <a href="{% url 'holiday_event_create' employment.id %}" class="btn btn-primary">{% blocktrans %}Add Holiday
                Event{% endblocktrans %}</a>
        </div>
        {% if holiday_events %}
            <div class="my-2">
                <table class="timesheetstable">
                    <tr class="timesheetstable-header">
                        <th></th>
                        <th>{% trans "Description" %}</th>
                        <th>{% trans "Approved" %}</th>
                        <th>{% trans "Days" %}</th>
                        <th>{% trans "Start" %}</th>
                        <th>{% trans "End" %}</th>
                    </tr>
                    {% for event in holiday_events %}
                        <tr class="timesheetstable-row">
                            <td>
                                <a class="btn-icon btn-secondary"
                                   href="{% url "holiday_event_update" employment.id event.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                                    </svg>
                                </a>
                            </td>
                            <td>{{ event.description }}</td>
                            <td class="flex flex-row gap-2 flex-wrap items-center">
                                {% if event.approved %}
                                    <span class="text-primarycolor-600">&#10003;</span>
                                    <a href="{% url 'holiday_event_ical_export' event.id %}"
                                       class="btn-icon btn-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"/>
                                        </svg>
                                    </a>
                                {% else %}
                                    <span class="text-red-600">&#10007;</span>
                                {% endif %}
                            </td>
                            <td>{{ event.days }}</td>
                            <td>{{ event.first_day }}</td>
                            <td>{{ event.last_day }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

    </div>
{% endblock %}