{% extends 'tailwind-base.html' %}
{% load i18n %}
{% load nice_timedelta %}

{% block title %}{% blocktrans with name=company.name %}Statistics for <span class="font-bold">{{name}}</span>{% endblocktrans %}{% endblock %}

{% block content %}


    <div class="flex flex-col gap-12 ">
        <form  action="#" method="post">
            <div class="flex flex-col gap-2">
                {% csrf_token %}
                {% include 'tailwind-form-inline.html' with form=form %}
                <div>
                    <a href="{% url 'company_interval_statistics' company.id %}" class="btn btn-secondary">
                        {% trans "Reset" %}
                    </a>
                    <button type="submit" class="btn btn-primary" name="action" value="filter">{% trans "Filter" %}</button>
                    <button type="submit" class="btn btn-secondary" name="action" value="download_agg_cat_subcat">{% trans "Download Category Subcategory" %}</button>
                    <button type="submit" class="btn btn-secondary" name="action" value="download_agg_day_notes">{% trans "Download Day Notes" %}</button>
                    <button type="submit" class="btn btn-secondary" name="action" value="download_agg_day_issue_url">{% trans "Download Day Issue Url" %}</button>
                </div>

            </div>
        </form>

        {% if financial_statistics %}
            <table class="timesheetstable">
                <tr class="timesheetstable-row hover:bg-primarycolor-100">
                    <td>{% trans "Total hours" %}:</td>
                    <td class="text-right">{{ financial_statistics.sum_amount |floatformat:2}}</td>
                </tr>
                <tr class="timesheetstable-row hover:bg-primarycolor-100">
                    <td>{% trans "Total price" %}:</td>
                    <td class="text-right">{{ financial_statistics.sum_price |floatformat:2}}{{ currency }}</td>
                </tr>
            </table>

        {% endif %}
        {% if category_statistics %}
            <div>
             <canvas id="categoryStatisticsChart" class="max-w-xl" width="300" height="200"></canvas>
            </div>

             <table class="timesheetstable">
              <tr class="timesheetstable-header">
                <th>{% trans "Category" %}</th>
                <th class="text-right">{% trans "Amount" %}</th>
                <th class="text-right">{% trans "Price" %}</th>
              </tr>
              {% for category_data in category_statistics %}
              <tr class="timesheetstable-row hover:bg-primarycolor-100">
                <td>{{ category_data.category.name }}</td>
                <td class="text-right">{{ category_data.amount|floatformat:2}}</td>
                <td class="text-right">{% if category_data.price is not None %}{{ category_data.price|floatformat:2}}{{ currency }}{% endif %}</td>

              </tr>
              {% endfor %}
            </table>
        {% endif %}
        {% if subcategory_statistics %}
         <table class="timesheetstable">
          <tr class="timesheetstable-header">
            <th>{% trans "Category" %}</th>
            <th>{% trans "Subcategory" %}</th>
            <th class="text-right">{% trans "Amount" %}</th>
            <th class="text-right">{% trans "Price" %}</th>
          </tr>
          {% for subcategory_data in subcategory_statistics %}
          <tr class="timesheetstable-row hover:bg-primarycolor-100">
            <td>{{ subcategory_data.category.name }}</td>
            <td>{{ subcategory_data.subcategory.name }}</td>
            <td class="text-right">{{ subcategory_data.amount|floatformat:2}}</td>
            <td class="text-right">{% if subcategory_data.price is not None %}{{ subcategory_data.price|floatformat:2}}{{ currency }}{% endif %}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}

    <div class="flex flex-col gap-2">
        <p class="text-sm text-gray-500">{% blocktrans %}Summary for each day, category and subcategory{% endblocktrans %}</p>
        <table class="timesheetstable">
            <tr class="timesheetstable-header">
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Category' %}</th>
                <th>{% trans 'Subcategory' %}</th>
                <th>{% trans 'Amount' %}</th>
            </tr>
     {% for r in detail_data %}
            <tr class="timesheetstable-row hover:bg-primarycolor-100">
                <td>{{ r.date |date:"Y-m-d" }}</td>
                <td>{{ r.category_name }}</td>
                <td>{{ r.subcategory_name }}</td>
                <td>{{ r.duration }}</td>
            </tr>
     {% endfor %}
    </table>
    </div>


    </div>

{% endblock %}


{%block scripts%}


<script>
// sumoselect


$(document).ready(function () {
  $('.selectCategories').SumoSelect({search: true, okCancelInMulti: true , csvDispCount:1 });
});
$(document).ready(function () {
  $('.selectSubcategories').SumoSelect({search: true, okCancelInMulti: true , csvDispCount:1 });
});
$(document).ready(function () {
  $('.selectUsers').SumoSelect({search: true, okCancelInMulti: true , csvDispCount:1 });
});

</script>

<script>
// jquery function
$(document).ready(function(){
    var ctx = document.getElementById('categoryStatisticsChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [{%for data in category_statistics%}'{{data.category.name}}',{%endfor%}],
            datasets: [{
                label: '# of users',

                data: [{%for data in category_statistics%}{{data.amount|floatformat:0}},{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.1)',
                    'rgba(54, 162, 235, 0.1)',
                    'rgba(255, 206, 86, 0.1)',
                    'rgba(75, 192, 192, 0.1)',
                    'rgba(153, 102, 255, 0.1)',
                    'rgba(255, 159, 64, 0.1)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
});
</script>
{%endblock scripts%}