{% extends 'tailwind-base.html' %}
{% load i18n %}

{% load nice_timedelta %}

{% block title %}{% blocktrans %}Intervals Overview and Export{% endblocktrans %}{% endblock %}

{% block content %}
{% if token %}
    <div class="text-xl my-2 text-primarycolor-700">
        <p>
            {% blocktrans with username=token.user.username%}Access granted to the data of
            <span class="font-bold">{{username}}</span>
            via public token.{% endblocktrans %}
        </p>
        {% if token.expire_at %}
            <p>
                {% blocktrans with expire_at=token.expire_at%}This access expires at
                <span class="font-bold">{{ expire_at }}</span>{% endblocktrans %}
            </p>
        {% endif %}
    </div>
{% endif %}
<form action="#" method="post">{% csrf_token %}
    {% include "tailwind-form.html" %}
    <div class="my-6 flex flex-row gap-4">
        <button class="btn btn-primary" type="submit" name="action" value="search">{% trans "Search" %}</button>
        <button class="btn btn-secondary" type="submit" name="action" value="download">{% blocktrans %}Download Intervals as Excel{% endblocktrans %}</button>
        <button class="btn btn-secondary" type="submit" name="action" value="download_aggregated">{% blocktrans %}Download aggregated Intervals as Excel{% endblocktrans %}</button>
        <button type="submit" class="btn btn-secondary" name="action" value="download_agg_day_issue_url">{% trans "Download Day Issue Url" %}</button>
    </div>
</form>

{% if category_statistics %}
<div class="my-14">
   <h3 class="my-2 font-bold">{% trans "Categories" %}</h3>
    <table class="timesheetstable">
      <tr class="timesheetstable-header">
        <th>{% trans "Company" %}</th>
        <th>{% trans "Category" %}</th>
        <th>{% trans "Amount" %}</th>
      </tr>
      {% for category_data in category_statistics %}
      <tr class="timesheetstable-row hover:bg-primarycolor-100">
        <td>{{ category_data.category.company.name }}</td>
        <td>{{ category_data.category.name }}</td>
        <td>{{ category_data.amount|decimal_hours|floatformat:2}}</td>
      </tr>
      {% endfor %}
    </table>
</div>
{% else %}
    <p>{% blocktrans %}No category statistics are available.{% endblocktrans %}</p>
{% endif %}

{% if subcategory_statistics %}
<div class="my-14">
   <h3 class="my-2 font-bold">{% trans "Subcategories" %}</h3>
    <table class="timesheetstable">
      <tr class="timesheetstable-header">
        <th>{% trans "Company" %}</th>
        <th>{% trans "Subcategory" %}</th>
        <th>{% trans "Amount" %}</th>
      </tr>
      {% for subcategory_data in subcategory_statistics %}
      <tr class="timesheetstable-row hover:bg-primarycolor-100">
        <td>{{ subcategory_data.subcategory.company.name }}</td>
        <td>{{ subcategory_data.subcategory.name }}</td>
        <td>{{ subcategory_data.amount|decimal_hours|floatformat:2}}</td>
      </tr>
      {% endfor %}
    </table>
</div>
{% else %}
    <p>{% blocktrans %}No subcategory statistics are available.{% endblocktrans %}</p>
{% endif %}

<div class="my-2">
{% if interval_list %}

    {% if interval_list|length > 100 %}
        <p>
            {% blocktrans %}There are too many intervals in this query in order to
            display them on screen. Please use the download button above instead.{% endblocktrans %}
        </p>
    {% else %}

        <h3 class="my-2 font-bold">{% blocktrans %}List of intervals{% endblocktrans %}</h3>
            <table class="timesheetstable">
                <tr class="timesheetstable-header">
                    <th></th>
                    <th>{% trans "Start" %}</th>
                    <th>{% trans "End" %}</th>
                    <th>{% trans "Category" %}</th>
                    <th>{% trans "Subcategory" %}</th>
                    <th>{% trans "Notes" %}</th>
                    <th>{% trans "Duration" %}</th>
                </tr>
                {% for interval in interval_list %}
                    <tr class="timesheetstable-row hover:bg-primarycolor-100">
                        <td>
                            <a class="btn-icon btn-secondary" href="{% url "timesheets_edit_interval" interval.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </a>
                        </td>
                        <td>{{ interval.start|date:"Y-m-d H:i"}}</td>
                        <td>{{ interval.end|date:"Y-m-d H:i" }}</td>
                        <td>{{ interval.category.name }}</td>
                        <td>{{ interval.subcategory.name }}</td>
                        <td>{{ interval.notes }}</td>
                        <td>{{ interval.get_duration|decimal_hours|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </table>
    {% endif %}
{% else %}
    <p>{% blocktrans %}No intervals are available.{% endblocktrans %}</p>
{% endif %}
</div>


{% endblock %}


{%block scripts%}

<script>
// sumoselect

$(document).ready(function () {
  $('.selectCategories').SumoSelect({search: true, okCancelInMulti: true , csvDispCount:1 });
});
$(document).ready(function () {
  $('.selectSubcategories').SumoSelect({search: true, okCancelInMulti: true , csvDispCount:1 });
});

</script>

{% endblock %}