{% extends 'tailwind-base.html' %}
{% load i18n %}

{% load nice_timedelta %}

{% block title %}{% blocktrans %}Statistic Tokens{% endblocktrans %}{% endblock %}

{% block content %}

    {% if token_list %}
    <div class="my-14">
        <table class="timesheetstable">
          <tr class="timesheetstable-header">
            <th></th>
            <th>{% trans "Link" %}</th>
            <th>{% trans "Statistic" %}</th>
            <th>{% blocktrans %}Valid From{% endblocktrans %}</th>
            <th>{% blocktrans %}Expire at{% endblocktrans %}</th>
            <th>{% trans "Accesses" %}</th>
            <th>{% trans "Filter" %}</th>
          </tr>
          {% for entry in token_list %}
          <tr class="timesheetstable-row hover:bg-primarycolor-100">
            <td>
                <a href="{% url 'statistic_tokens_update_delete' entry.token.token %}" class="btn-secondary btn-inline">Edit</a></td>
            <td>
                <button id="{{ entry.token }}" class="btn-secondary btn-inline h-8 w-8" onclick="copyTextToClipboard('{{ entry.url }}', '{{ entry.token }}')">
                <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
                </svg>
                </button>
            </td>
            <td>{{ entry.token.get_statistic_display }}</td>
            <td>{{ entry.token.valid_from }}</td>
            <td>{{ entry.token.expire_at }}</td>
            <td><a class="font-bold text-primarycolor-800" href="{% url 'statistic_token_detail_view' entry.token.token %}">{{ entry.accesses }}</a></td>
            <td>
                {% for key, value in entry.token.filter_data.items %}
                    <p><span class="font-bold">{{ key }}</span>: {{ value }}</p>
                {% endfor %}
            </td>
          </tr>

          {% endfor %}
        </table>
    </div>
    {% else %}
        <p>{% blocktrans %}There are no tokens, create a new one now{% endblocktrans %}</p>
    {% endif %}
<div class="my-14">
    <h2 class="text-xl font-bold my-2">{% blocktrans %}Create a Token{% endblocktrans %}</h2>

    <form action="#" method="post">{% csrf_token %}
        {% include "tailwind-form.html" %}

        <div class="my-6 flex flex-row gap-4">
            <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
        </div>


    </form>
</div>

    <div class="my-14">
        <h3 class="text-lg font-bold my-2">{% blocktrans %}Example Filter Data{% endblocktrans %}</h3>
        <p>{% trans "Intervals" %}</p>
        <pre><code>
{"start": "2020-01-01", "end": "2020-12-31", "category": ["CategoryName"], "subcategory": ["SubcategoryName1", "SubcategoryName2"]}
        </code></pre>
    </div>
<script>

function setToPing(id){
    var button = document.getElementById(id);
    button.classList.add('animate-ping');
}

function stopPing(id){
    var button = document.getElementById(id);
    button.classList.remove('animate-ping');
}

function copyTextToClipboard( text, id ) {
  /* Get the text field */
  navigator.clipboard.writeText(text)
    .then(() => {
      if (id != null){
        setToPing(id);
        setTimeout(function(){ stopPing(id); }, 1000);
      }
    })
    .catch(err => {
      alert('Error in copying text: ', err);
    });
}
</script>
{% endblock %}