{% extends 'tailwind-base.html' %}
{% load i18n %}

{% load nice_timedelta %}

{% block title %}{% blocktrans with token=statistic_token.token %}Token {{ statistic_token.token }}{% endblocktrans %}{% endblock %}

{% block content %}

<h2 class="text-xl font-bold mt-6 mb-1">{% blocktrans %}Requests using this token{% endblocktrans %}</h2>

<table class="timesheetstable">
    <tr class="timesheetstable-header">
        <th>{% trans "Datetime" %}</th>
        <th>{% blocktrans %}Client IP{% endblocktrans %}</th>
        <th>{% trans "Method" %}</th>
        <th>{% blocktrans %}User Agent{% endblocktrans %}</th>
        <th>{% trans "Path" %}</th>
        <th>{% trans "Content" %}</th>
    </tr>
    {% for log in access_logs %}
        <tr class="timesheetstable-row hover:bg-primarycolor-100">
            <td>{{ log.datetime }}</td>
            <td>{{ log.request.client_ip }}</td>
            <td>{{ log.request.method }}</td>
            <td>{{ log.request.user_agent }}</td>
            <td>{{ log.request.path }}</td>
            <td>
                {% if log.request.method == "GET" %}
                    {{ log.request.get }}
                {% elif log.request.method == "POST" %}
                    {{ log.request.post }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}