{% extends 'tailwind-base.html' %}
{% load i18n %}



{% block title %}{% blocktrans with name=company.name%}Edit Category for {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}


<form action="#" method="post">{% csrf_token %}
<fieldset>
    {% include "tailwind-form.html" %}
    <div class="my-6 flex flex-row gap-4">

        <button class="my-2 btn btn-primary" type="submit">{% trans "Submit" %}</button>
        {% if not interval_usage > 0 %}
            <a class="my-2 btn btn-danger" href="{% url 'management_company_delete_category' company.id category.id %}" >{% trans "Delete" %}</a>
        {% endif %}
    </div>
    {% if interval_usage > 0 %}
    <p>{% blocktrans %}This Category cannot be deleted, since it is used by {{ interval_usage }} Intervals.{% endblocktrans %}</p>
    {% endif %}

</fieldset>
</form>

{% endblock %}