{% extends 'tailwind-base.html' %}
{% load i18n %}


{% load tz %}
{% load nice_timedelta %}


{% block title %} {% blocktrans with name=company.name%}Delete Category from <i>{{ name }}</i>{% endblocktrans %}{% endblock %}
{% block content %}

    <div class="table-responsive">
     <table class="timesheetstable">
      <tr class="timesheetstable-header">
        <th>Name</th>
        <th>Description</th>
        <th>Working Time</th>
        <th>Bookable</th>
      </tr>
        <tr class="timesheetstable-row">
            <td><a class="link" href="{% url 'management_company_update_category' company.id category.id %}">{{ category.name }}</a></td>
            <td>{{ category.description }}</td>
            {% if category.working_time %}
            <td class="text-primarycolor-600">&#10003;</td>
            {% else %}
            <td class="text-red-600">&#10007;</td>
            {% endif %}
            {% if category.bookable %}
            <td class="text-primarycolor-600">&#10003;</td>
            {% else %}
            <td class="text-red-600">&#10007;</td>
            {% endif %}
        </tr>
    </table>
    </div>

{% if interval_usage > 0 %}
<p class="text-red-500">{% blocktrans %}This Category cannot be deleted, since {{ interval_usage }} booked Intervals are using it.{% endblocktrans %}</p>
{% else %}
<p class="my-2">{% blocktrans %}Are you sure you want to delete this Category?{% endblocktrans %}</p>
<form action="#" method="get">{% csrf_token %}
  <div class="my-6 flex flex-row gap-4">
    <input type="button" class="my-2 btn btn-primary" value="Go Back" onclick="history.back()">
    <input class="my-2 btn btn-danger" formaction="#" formmethod="post" type="submit" value="Delete" />
  </div>
</form>
{% endif %}



{% endblock %}