{% extends 'tailwind-base.html' %}



{% load i18n %}


{% block title %}{% blocktrans with username=employment.profile.user.username company_name=employment.company.name %}Edit Employment of <i>{{ username }}</i> for <i>{{ company_name }}</i>{% endblocktrans %}{% endblock %}

{% block content %}


<form action="#" method="post">{% csrf_token %}
<fieldset>
    {% include "tailwind-form.html" %}
    {% if inline_form_set %}
        <div class="mt-4">
            <span class="my-1 font-bold">{% blocktrans %}Contract Periods in Employment{% endblocktrans %}</span>
            {% include "tailwind-formset.html" %}
        </div>
    {% endif %}
    <div class="my-6 flex flex-row gap-4">
        <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
        <a href="{% url 'management_company_delete_employment' company.id employment.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
    </div>
</fieldset>
</form>

{% endblock %}