{% extends 'tailwind-base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with username=employment.profile.user.username company_name=company.name %}Administration of Employment {{ username }} at {{ company_name }}{% endblocktrans %}{% endblock %}

{% block content %}


<h3 class="my-2 font-bold">{% trans "Details" %}</h3>
<table class="timesheetstable">
    <tr class="timesheetstable-header">
        <th></th>
        <th>{% trans "User" %}</th>
        <th>{% trans "Start" %}</th>
        <th>{% blocktrans %}Usage Start{% endblocktrans %}</th>
        <th>{% trans "End" %}</th>
        <th>{% blocktrans %}Overtime Offset{% endblocktrans %}</th>
        <th>{% blocktrans %}Holdiay Offset{% endblocktrans %}</th>
        <th>{% trans "Role" %}</th>
    </tr>
    <tr class="timesheetstable-row">
        <td></td>
        <td>{{ employment.profile.user.username }}</td>
        <td>{{ employment.start|date:"Y-m-d" }}</td>
        <td>{{ employment.usage_start|date:"Y-m-d" }}</td>
        <td>{{ employment.end|date:"Y-m-d" }}</td>
        <td>{{ employment.offset_overtime_hour_account }}</td>
        <td>{{ employment.offset_holiday_days }}</td>
        <td>{% if employment.is_admin_for_company%}{% trans "Admin" %}{% else %}{% trans "User" %}{% endif %}</td>
    </tr>
</table>

<div class="my-6 flex flex-row gap-4">
    <a href="{% url 'management_company_edit_employment' company.id employment.id %}" class="btn btn-secondary">{% trans "Edit" %}</a>
    <a href="{% url 'management_company_delete_employment' company.id employment.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
</div>

<h3 class="my-2 font-bold">{% blocktrans %}Contract Periods{% endblocktrans %}</h3>
<table class="timesheetstable">
    <tr class="timesheetstable-header">
        <th></th>
        <th>{% trans "Start" %}</th>
        <th>{% trans "End" %}</th>
        <th>{% blocktrans %}Weekly Work Hours{% endblocktrans %}</th>
        <th>{% blocktrans %}Yearly Holiday Days{% endblocktrans %}</th>
        <th>{% trans "Days" %}</th>
    </tr>
    {% for period in contract_periods %}
    <tr class="timesheetstable-row">
        <td>
            <a class="btn-icon btn-secondary" href="{% url 'company_contract_period_edit_delete' company.id employment.id period.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>
            </a>
        </td>
        <td>{{ period.start|date:"Y-m-d" }}</td>
        <td>{{ period.end|date:"Y-m-d" }}</td>
        <td>{{ period.work_hours_amount }}</td>
        <td>{{ period.holiday_days_amount }}</td>
        <td>{{ period.get_working_days|join:", " }}</td>
    </tr>
    {% endfor %}
</table>
<div>
    <a class="btn btn-primary" href="{% url 'company_contract_period_create' company.pk employment.pk %}">{% blocktrans %}Add Contract Period{% endblocktrans %}</a>
</div>


{% if contract_period_issues %}

<h4 class="my-2 font-bold">{% trans "Issues" %}</h4>
<p class="my-2">{% blocktrans %}The following elements have a problem, see Reason column. Please correct the problems. Multiple entries mean multiple problem contitions apply to the singular element.{% endblocktrans %}</p>
<table class="timesheetstable">
    <tr class="timesheetstable-header">
        <th>{% trans "Start" %}</th>
        <th>{% trans "End" %}</th>
        <th>{% blocktrans %}Work Hours{% endblocktrans %}</th>
        <th>{% blocktrans %}Holiday Days{% endblocktrans %}</th>
        <th>{% trans "Reason" %}</th>
    </tr>
    {% for issue in contract_period_issues %}
    <tr class="timesheetstable-row">
        <td>{{ issue.period.start|date:"Y-m-d" }}</td>
        <td>{{ issue.period.end|date:"Y-m-d" }}</td>
        <td>{{ issue.period.work_hours_amount }}</td>
        <td>{{ issue.period.holiday_days_amount }}</td>
        <td>{{ issue.reason }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}