{% extends 'tailwind-base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with name=company.name %}Administration of {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="flex flex-col gap-8">
    <div class="flex flex-row gap-2 flex-wrap">
        <a class="btn btn-secondary" href="{% url 'company_interval_statistics' company.id %}">{% trans "Statistics" %}</a>
    </div>
    <div class="">
        <h3 class="my-2 font-bold">{% trans "Employments" %}</h3>
        <table class="timesheetstable">
            <tr class="timesheetstable-header">
                <th></th>
                <th>{% trans "User" %}</th>
                <th>{% trans "Start" %}</th>
                <th>{% blocktrans %}Usage Start{% endblocktrans %}</th>
                <th>{% trans "End" %}</th>
                <th>{% blocktrans %}Overtime Offset{% endblocktrans %}</th>
                <th>{% blocktrans %}Holdiay Offset{% endblocktrans %}</th>
                <th>{% blocktrans %}Employment Issues{% endblocktrans %}</th>
                <th>{% blocktrans %}Interval Issues{% endblocktrans %}</th>
                <th>{% trans "Role" %}</th>
            </tr>
            {% for data in employments_in_company %}
            <tr class="timesheetstable-row">
                <td>
                    <div class="flex flex-row">
                        <a class="btn-icon btn-secondary" href="{% url 'management_company_detail_employment' company.id data.employment.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>

                </td>
                <td>{{ data.employment.profile.user.username }}</td>
                <td>{{ data.employment.start|date:"Y-m-d" }}</td>
                <td>{{ data.employment.usage_start|date:"Y-m-d" }}</td>
                <td>{{ data.employment.end|date:"Y-m-d" }}</td>
                <td>{{ data.employment.offset_overtime_hour_account }}</td>
                <td>{{ data.employment.offset_holiday_days }}</td>
                {% if data.employment_issues > 0 %}
                    <td class="text-red-500">{{ data.employment_issues }}</td>
                {% else %}
                    <td>{{ data.employment_issues }}</td>
                {% endif %}
                {% if data.interval_issues > 0 %}
                    <td class="text-red-500">{{ data.interval_issues }}</td>
                {% else %}
                    <td>{{ data.interval_issues }}</td>
                {% endif %}

                <td>{% if data.employment.is_admin_for_company%}{% trans "Admin" %}{% else %}{% trans "User" %}{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'management_company_create_employment' company.id  %}" class="btn btn-primary">{% blocktrans %}Add Employment{% endblocktrans %}</a>
    </div>

    <div class="">
        <h3 class="my-2 font-bold">{% trans "Categories" %}</h3>
        <table class="timesheetstable">
        <tr class="timesheetstable-header">
            <th>{% trans "Name" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% blocktrans %}Working Time{% endblocktrans %}</th>
            <th>{% trans "Bookable" %}</th>
            <th>{% trans "Exclusive" %}</th>
            <th>{% trans "Billable" %}</th>
        </tr>
        {% for category in categories %}
        <tr class="timesheetstable-row">
            <td><a class="link" href="{% url 'management_company_update_category' company.id category.id %}">{{ category.name }}</a></td>
            <td>{{ category.description }}</td>
            {% if category.working_time %}
            <td class="text-primarycolor-600">&#10003;</td>
            {% else %}
            <td class="text-red-600">&#10007;</td>
            {% endif %}
            {% if category.bookable %}
            <td class="text-primarycolor-600">&#10003;</td>
            {% else %}
            <td class="text-red-600">&#10007;</td>
            {% endif %}
            {% if category.exclusive %}
            <td class="text-primarycolor-600">&#10003;</td>
            {% else %}
            <td class="text-red-600">&#10007;</td>
            {% endif %}
            {% if category.hourly_rate is not None %}
                <td >{{category.hourly_rate}}{{ currency }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>
        <a class="mt-4 btn btn-primary" href="{% url 'management_company_create_category' company.id  %}">{% blocktrans %}Add Category{% endblocktrans %}</a>
    </div>

    <div class="">
        <h3 class="my-2 font-bold">{% trans "Subcategories" %}</h3>
        <table class="timesheetstable">
            <tr class="timesheetstable-header">
                <th>{% trans "Name" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Bookable" %}</th>
                <th>{% trans "Billable" %}</th>
            </tr>
            {% for subcategory in subcategories %}
            <tr class="timesheetstable-row">
                <td><a class="link" href="{% url 'management_company_update_subcategory' company.id subcategory.id %}">{{ subcategory.name }}</a></td>
                <td>{{ subcategory.description }}</td>
                {% if subcategory.bookable %}
                <td class="text-primarycolor-600">&#10003;</td>
                {% else %}
                <td class="text-red-600">&#10007;</td>
                {% endif %}
                {% if subcategory.hourly_rate is not None %}
                <td >{{subcategory.hourly_rate}}{{ currency }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <a class="mt-4 btn btn-primary" href="{% url 'management_company_create_subcategory' company.id  %}">{% blocktrans %}Add Subcategory{% endblocktrans %}</a>

    </div>

    <div class="">
        <h3 class="my-2 font-bold">{% blocktrans %}Public Holidays{% endblocktrans %}</h3>
        <table class="timesheetstable">
            <tr class="timesheetstable-header">
                <th>{% trans "Name" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Weight" %}</th>
            </tr>
            {% for public_holiday in public_holidays %}
            <tr class="timesheetstable-row">
                <td><a class="link" href="{% url 'management_company_update_public_holiday' company.id public_holiday.id %}">{{ public_holiday.name }}</a></td>
                <td>{{ public_holiday.date|date:"Y-m-d"}}</td>
                <td>{{ public_holiday.weight }}</td>
            </tr>
            {% endfor %}
        </table>
        <a class="mt-4 btn btn-primary" href="{% url 'management_company_create_public_holiday' company.id %}">{% blocktrans %}Add Public Holiday{% endblocktrans %}</a>
    </div>
</div>

{% endblock %}