{% extends 'tailwind-base.html' %}
{% load i18n %}

{% load nice_timedelta %}

{% block title %}{% blocktrans %}Contract Period{% endblocktrans %}{% endblock %}

{% block content %}
<form action="#" method="post">{% csrf_token %}
    {% include "tailwind-form.html" %}

    <div class="my-6 flex flex-row gap-4">
        <button class="btn btn-primary" type="submit" name="save">{% trans "Save" %}</button>
        <button class="btn btn-secondary" onclick="goBack()">{% trans "Back" %}</button>
        <div class="contents m-0 p-0">
            <span class="group flex flex-row items-baseline gap-x-2">
                <span class=" text-red-700 btn" >{% trans "Delete" %}</span>
                <button class="btn btn-danger hidden  group-hover:block group-focus:block " type="submit" name="delete">{% blocktrans %}Really delete!{% endblocktrans %}</button>
            </span>
        </div>
    </div>


</form>

<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}