{% extends 'tailwind-base.html' %}
{% load i18n %}



{% block title %}{% blocktrans %}Management Dashboard{% endblocktrans %}{% endblock %}

{% block content %}

{% if admin_company_employments %}
<div class="mt-14 mb-8">
    <h2 class="mt-14 mb-8 font-bold">{% blocktrans %}My Companies{% endblocktrans %}</h2>
    <div class="flex flex-row">
        {%  for data in admin_company_employments %}
        <div class="card">
            <span class="m-2">{{ data.company.name }}</span>
            <a class="mx-2 btn btn-secondary" href="{% url 'management_company_detail' data.company.pk %}">{% trans "Manage" %}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="mt-14 mb-8">
<h2 class="my-3 font-bold">{% trans "Employments" %}</h2>
{% for data in data_by_emploment %}
<div class="mt-8 mb-4">
    <div class="mt-2 px-4 bg-primarycolor-100 w-full flex flex-row items-baseline">
        <p class="my-4">
            {% blocktrans with company_name=data.employment.company.name start=data.employment.start end=data.employment.end%}<b>{{ company_name }}</b>: from <b>{{ start }}</b> until {{ end }}{% endblocktrans %}
        </p>
    </div>
    <div class="p-4 bg-gray-50">
        {% if data.employment.is_admin_for_company %}
        <div class="my-6 flex flex-row gap-4">
            <a href="{% url 'management_employment_edit' data.employment.pk %}" class="btn btn-secondary">{% blocktrans %}Edit Employment{% endblocktrans %}</a>
            <a href="{% url 'management_employment_delete' data.employment.pk %}" class="btn btn-danger">{% blocktrans %}Delete Employment{% endblocktrans %}</a>
        </div>
        {% endif %}

        <div class="mt-10 mb-4">
            <h3 class="mt-2 font-bold">{% blocktrans %}Contract periods{% endblocktrans %}</h3>
            {% if data.contract_periods %}
            <div class="my-2">
                <table class="timesheetstable">
                  <tr class="timesheetstable-header">
                  {% if data.employment.is_admin_for_company %}<th></th>{% endif %}
                    <th>{% trans "Start" %}</th>
                    <th>{% trans "End" %}</th>
                    <th>{% blocktrans %}Work Hours{% endblocktrans %}</th>
                    <th>Holiday Days</th>
                    <th>Days</th>
                  </tr>
                {% for element in data.contract_periods %}
                  <tr class="timesheetstable-row">
                  {% if data.employment.is_admin_for_company %}
                  <td>
                      <a class="btn-icon btn-secondary" href="{% url 'management_edit_contract_period' data.employment.pk element.pk %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                        </svg>
                      </a>
                  </td>
                  {% endif %}

                   <td>{{ element.start|date:"Y-m-d"}}</td>
                   <td>{{ element.end|date:"Y-m-d"}}</td>
                   <td>{{ element.work_hours_amount}}</td>
                   <td>{{ element.holiday_days_amount}}</td>
                   <td>{{ element.get_working_days|join:", " }}</td>


                  </tr>
                {% endfor %}

                </table>
            </div>
        </div>
        {% endif %}
        {% if data.employment.is_admin_for_company %}
            <a class="btn btn-primary" href="{% url 'management_create_contract_period' data.employment.pk %}">{% blocktrans %}Add Period{% endblocktrans %}</a>
        {% endif %}

        <h3 class="mt-2 font-bold">{% trans "Status" %}</h3>
        {% if not data.contract_period_issues %}
            <div class="flex justify-start">
                <div class="card">
                    <svg class="w-12 h-12 text-primarycolor-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                    <p>{% trans "Ok" %}</p>
                </div>
            </div>
        {% else %}
            <div class="flex justify-start">
                <div class="card">
                    <svg class="w-12 h-12 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path></svg>
                    <p>{% blocktrans %}Not Ok{% endblocktrans %}</p>
                </div>
            </div>
            <h4 class="my-2">{% trans "Issues" %}</h4>
            <p class="my-2">{% blocktrans %}The following elements have a problem, see Reason column. Please correct the problems. Multiple entries mean multiple problem contitions apply to the singular element.{% endblocktrans %}</p>
                <table class="timesheetstable">
                <tr class="timesheetstable-header">
                    {% if data.employment.is_admin_for_company %}<th></th>{% endif %}
                    <th>{% trans "Start" %}</th>
                    <th>{% trans "End" %}</th>
                    <th>{% blocktrans %}Work Hours{% endblocktrans %}</th>
                    <th>{% blocktrans %}Holiday Days{% endblocktrans %}</th>
                    <th>{% trans "Reason" %}</th>
                </tr>
                {% for issue in data.contract_period_issues %}
                <tr class="timesheetstable-row">
                    {% if data.employment.is_admin_for_company %}
                      <td>
                      {% if issue.period %}
                          <a class="my-2 btn btn-secondary" href="{% url 'management_edit_contract_period' data.employment.pk issue.period.pk %}">{% trans "Edit" %}</a>
                      {% endif %}
                      </td>
                    {% endif %}
                    <td>{{ issue.period.start|date:"Y-m-d" }}</td>
                    <td>{{ issue.period.end|date:"Y-m-d" }}</td>
                    <td>{{ issue.period.work_hours_amount }}</td>
                    <td>{{ issue.period.holiday_days_amount }}</td>
                    <td>{{ issue.reason }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>

<div class="my-6 flex flex-row gap-4">
    <a  class="btn btn-primary" href="{% url 'management_employment_create' %}">{% blocktrans %}New Employent{% endblocktrans %}</a>
</div>

{% endblock %}