{% extends 'tailwind-base.html' %}
{% load i18n %}


{% block title %}{% blocktrans %}Add new Employment{% endblocktrans %}{% endblock %}

{% block content %}


<form action="#" method="post">{% csrf_token %}
<fieldset>
    {% include "tailwind-form.html" %}
    <div class="my-6 flex flex-row gap-4">
        <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
    </div>
</fieldset>
</form>


{% endblock %}