{% extends 'tailwind-base.html' %}
{% load i18n %}





{% block title %}{% blocktrans with company_name=employment.company.name%}Edit Employment for <i>{{ company_name }}</i>{% endblocktrans %}{% endblock %}

{% block content %}


<form action="#" method="post">{% csrf_token %}
<fieldset>
    {% include "tailwind-form.html" %}
    <div class="my-6 flex flex-row gap-4">
        <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
        <a href="{% url 'management_employment_delete' employment.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
    </div>
</fieldset>
</form>

{% endblock %}