{% extends 'tailwind-base.html' %}
{% load i18n %}


{% load tz %}
{% load nice_timedelta %}


{% block title %}{% blocktrans with username=employment.profile.user.username company_name=employment.company.name %}Delete Employment of <i>{{ username }}</i> for <i>{{ company_name }}</i>{% endblocktrans %}{% endblock %}
{% block content %}

    <div class="my-4 table-responsive">
     <table class="timesheetstable">
      <tr class="timesheetstable-header">
        <th></th>
        <th>{% trans "Start" %}</th>
        <th>{% trans "End" %}</th>
        <th>{% blocktrans %}Overtime Offset{% endblocktrans %}</th>
        <th>{% blocktrans %}Holiday Days Offset{% endblocktrans %}</th>
      </tr>
      <tr class="timesheetstable-row">
          <td>
              <a class="btn btn-secondary" href="{% url 'management_employment_edit' employment.pk %}">{% trans "Edit" %}</a>
          </td>
        <td>{{ employment.start|date:"Y-m-d"}}</td>
        <td>{{ employment.end|date:"Y-m-d" }}</td>
        <td>{{ employment.offset_overtime_hour_account }}</td>
        <td>{{ employment.offset_holiday_days }}</td>
      </tr>
    </table>
    </div>

<p class="my-2">{% blocktrans %}Are you sure you want to delete this Employment? This will also delete all connected data, such as <b>ContractPeriods, booked Intervals and Holiday Information</b>.{% endblocktrans %}</p>
<p class="m-4 text-red-500 text-xl uppercase font-bold">{% blocktrans %}This cannot be undone!{% endblocktrans %}</p>
<form action="{% url 'management_employment_delete' employment.pk %}" method="post">{% csrf_token %}
  <div class="my-6 flex flex-row gap-4">
      <a href="" class="btn btn-primary">{% blocktrans %}Go Back{% endblocktrans %}</a>
      <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
  </div>
</form>



{% endblock %}