{% extends 'tailwind-base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Impressum{% endblocktrans %}{% endblock %}

{% block content %}
<div class="flex justify-start">
  <div class="text-left">
    <p class="">{% blocktrans %}This page is run by:{% endblocktrans %}</p>
       <table>
          <tr>
             <th class="p-2">{% trans "Name" %}</th>
             <td class="p-2">{{ impressum_name }}</td>
          </tr>
          <tr>
            <th class="p-2">{% trans "Address" %}</th>
            <td class="p-2">{{ impressum_address }}</td>
          </tr>
          <tr>
            <th class="p-2">{% trans "Contact" %}</th>
            <td class="p-2">{{ impressum_contact }}</td>
          </tr>
        </table>
  </div>
</div>
{% endblock %}