{% extends 'tailwind-base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Change Cagegories for Intervals{% endblocktrans %}{% endblock %}

{% block content %}
<div class="flex flex-col gap-4">
    <p>{% blocktrans %}This form allows you to update the category and subcategory of all intervals matching the old category and subcategory at once.{% endblocktrans %}</p>
    <form method="post">
        {% csrf_token %}
        {% include "tailwind-form.html" with form=form %}
        <div class="mt-2 flex flex-row gap-2">
            <button class="btn btn-primary">{% blocktrans %}Update intervals{% endblocktrans %}</button>
        </div>
    </form>

</div>
{% endblock %}
