{% extends 'tailwind-base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Interval Integrity{% endblocktrans %}{% endblock %}

{% block content %}

{% if issues_count == 0  %}
    <div class="flex justify-start">
        <div class="card">
            <svg class="w-12 h-12 text-primarycolor-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>        <p>Ok</p>
        </div>
    </div>
    {% else %}
    <div class="flex justify-start">
        <div class="card">
            <svg class="w-12 h-12 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path></svg>
            <p>{% blocktrans %}Not Ok{% endblocktrans %}</p>
        </div>
    </div>
    <h3 class="my-2">{% trans "Issues" %}</h3>
    {% if overlapping_issues %}
        <p class="my-2">{% blocktrans %}The following elements are overlapping with each other and are most likely the cause of the failure. Please correct them, so that they do not overlap anymore. As long as this test does not pass, timesheets will not calculate your correct working time.{% endblocktrans %}</p>
        <table class="timesheetstable">
            <tr class="timesheetstable-header">
                <th scope="col">{% trans "ID" %}</th>
                <th scope="col">{% trans "Start" %}</th>
                <th scope="col">{% trans "End" %}</th>
                <th scope="col">{% trans "Notes" %}</th>
            </tr>
            {% for issue in overlapping_issues %}
            <tr class="timesheetstable-row">
                <td>
                    <div class="flex flex-col float-left">
                        <a class="font-bold text-primarycolor-800" href="{% url "timesheets_edit_interval" issue.interval_a.id %}">{{ issue.interval_a.id }}</a>
                        <a class="font-bold text-primarycolor-800" href="{% url "timesheets_edit_interval" issue.interval_b.id %}">{{ issue.interval_b.id }}</a>
                    </div>
                </td>
                <td>
                    <div class="flex flex-col float-left">
                        <span>{{ issue.interval_a.start|date:"Y-m-d H:i" }}</span>
                        <span>{{ issue.interval_b.start|date:"Y-m-d H:i" }}</span>
                    </div>
                </td>
                <td>
                    <div class="flex flex-col float-left">
                        <span>{{ issue.interval_a.end|date:"Y-m-d H:i" }}</span>
                        <span>{{ issue.interval_b.end|date:"Y-m-d H:i" }}</span>
                    </div>
                </td>
                <td>
                    <div class="flex flex-col float-left">
                        <span>{{ issue.interval_a.notes|default:"-"}}</span>
                        <span>{{ issue.interval_b.notes|default:"-"}}</span>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </table>
    {% endif %}
    {% if interval_issues %}

        <p class="my-2"></p>
        <table class="timesheetstable">
            <tr class="timesheetstable-header">
                <th scope="col">{% trans "ID" %}</th>
                <th scope="col">{% trans "Start" %}</th>
                <th scope="col">{% trans "End" %}</th>
                <th scope="col">{% trans "Error" %}</th>
            </tr>
            {% for issue in interval_issues %}
            <tr class="timesheetstable-row">
                <td>
                    <div class="flex flex-col float-left">
                        <a class="font-bold text-primarycolor-800" href="{% url "timesheets_edit_interval" issue.interval.id %}">{{ issue.interval.id }}</a>
                    </div>
                </td>
                <td>
                    <div class="flex flex-col float-left">
                        <span>{{ issue.interval.start|date:"Y-m-d H:i" }}</span>
                    </div>
                </td>
                <td>
                    <div class="flex flex-col float-left">
                        <span>{{ issue.interval.end|date:"Y-m-d H:i" }}</span>
                    </div>
                </td>
                <td>
                    <div class="flex flex-col float-left">
                        <span>{{ issue.error|default:"-"}}</span>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </table>

    {% endif %}
{% endif %}

{% endblock %}
