{% extends 'tailwind-base.html' %}
{% load i18n %}


{% load tz %}
{% load nice_timedelta %}


{% block title %}{% blocktrans with name=company.name %}Delete Public Holiday from <i>{{ name }}</i>{% endblocktrans %}{% endblock %}
{% block content %}

<div class="table-responsive">
    <table class="timesheetstable">
        <tr class="timesheetstable-header">
            <th>{% trans "Name" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Weight" %}</th>
        </tr>
        <tr class="timesheetstable-row">
            <td><a class="link"
                   href="{% url 'management_company_update_public_holiday' company.id public_holiday.id %}">{{ public_holiday.name }}</a>
            </td>
            <td>{{ public_holiday.date|date:"Y-m-d"}}</td>
            <td>{{ public_holiday.weight }}</td>
        </tr>
    </table>
</div>


<p class="my-2">{% blocktrans %}Are you sure you want to delete this Public Holiday?{% endblocktrans %}</p>
<form action="#" method="get">{% csrf_token %}
    <div class="my-6 flex flex-row gap-4">
        <button type="button" class="btn btn-secondary" onclick="history.back()">{% blocktrans %}Go Back{% endblocktrans %}</button>
        <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
    </div>
</form>


{% endblock %}