{% extends 'tailwind-base.html' %}
{% load i18n %}


{% block title %}{% blocktrans with name=company.name %}Add new Public Holiday for {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}


    <form action="#" method="post">{% csrf_token %}
        <fieldset>
            {% include "tailwind-form.html" %}
            <div class="my-6 flex flex-row gap-4">
                <button class="btn btn-danger" type="submit">{% trans "Create" %}</button>
            </div>
        </fieldset>
    </form>


{% endblock %}