{% extends 'tailwind-base.html' %}
{% load i18n %}



{% block title %}{% blocktrans with name=company.name %}Edit Public Holiday for {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}

    <form action="#" method="post">{% csrf_token %}
        <fieldset>
            {% include "tailwind-form.html" %}

            <div class="my-6 flex flex-row gap-4">
                <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                <a class="btn btn-danger"
                   href="{% url 'management_company_delete_public_holiday' company.id public_holiday.id %}">
                    {% trans "Delete" %}
                </a>
            </div>
        </fieldset>
    </form>

{% endblock %}