{% extends 'tailwind-base.html' %}
{% load i18n %}



{% block title %}{% blocktrans with name=company.name %}Edit Subcategory for {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}


<form action="#" method="post">{% csrf_token %}
<fieldset>
    {% include "tailwind-form.html" %}

    <div class="my-6 flex flex-row gap-4">

        <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
        {% if not interval_usage > 0 %}
            <a href="{% url 'management_company_delete_subcategory' company.id subcategory.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
        {% endif %}
    </div>

    {% if interval_usage > 0 %}
    <p>{% blocktrans with interval_usage=interval_usage %}This Subcategory cannot be deleted, since it is used by {{ interval_usage }} Intervals.{% endblocktrans %}</p>
    {% endif %}
</fieldset>
</form>

{% endblock %}