{% extends 'tailwind-base.html' %}
{% load i18n %}


{% block title %}{% blocktrans with name=company.name %}Add new Subcategory for {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}


<form action="#" method="post">{% csrf_token %}
<fieldset>
    {% include "tailwind-form.html" %}
    <div class="my-6 flex flex-row gap-4">
        <button class="my-2 btn btn-primary" type="submit">{% trans "Create" %}</button>
    </div>
</fieldset>
</form>


{% endblock %}