{% extends 'tailwind-base.html' %}
{% load i18n %}


{% load tz %}
{% load nice_timedelta %}


{% block title %}{% blocktrans with name=company.name %}Delete Subcategory from <i>{{ name }}</i>{% endblocktrans %}{% endblock %}
{% block content %}

    <div class="table-responsive">
     <table class="timesheetstable">
      <tr class="timesheetstable-header">
        <th>{% trans "Name" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% blocktrans %}Working Time{% endblocktrans %}</th>
        <th>{% trans "Bookable" %}</th>
      </tr>
        <tr class="timesheetstable-row">
            <td><a class="link" href="{% url 'management_company_update_subcategory' company.id subcategory.id %}">{{ subcategory.name }}</a></td>
            <td>{{ subcategory.description }}</td>
            {% if subcategory.working_time %}
            <td class="text-primarycolor-600">&#10003;</td>
            {% else %}
            <td class="text-red-600">&#10007;</td>
            {% endif %}
            {% if subcategory.bookable %}
            <td class="text-primarycolor-600">&#10003;</td>
            {% else %}
            <td class="text-red-600">&#10007;</td>
            {% endif %}
        </tr>
    </table>
    </div>

{% if interval_usage > 0 %}
<p class="text-red-500">{% blocktrans with interval_usage=interval_usage%}This Subcategory cannot be deleted, since {{ interval_usage }} booked Intervals are using it.{% endblocktrans %}</p>
{% else %}
<p class="my-2">{% blocktrans %}Are you sure you want to delete this Subcategory?{% endblocktrans %}</p>
<form action="#" method="post">{% csrf_token %}
  <div class="my-6 flex flex-row gap-4">
    <button type="button" class="btn btn-primary" onclick="history.back()">{% blocktrans %}Go Back{% endblocktrans %}</button>
    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
  </div>
</form>
{% endif %}



{% endblock %}