<div class="rounded p-2 bg-purple-50 hover:bg-purple-100 duration-100 shadow">
    <div class="flex flex-col gap-2">
            <div class="flex flex-wrap flex-row gap-2 justify-between">

                <p class="font-bold">{{ public_holiday.name }}</p>
                <p class="text-gray-400 text-sm">{{ public_holiday.company.name }}</p>

            </div>

            <p>{{ public_holiday.date|date:'l' }}, {{ public_holiday.date }}</p>
            {% if show_controls %}
                <div class="flex flex-row gap-2">

                </div>
            {% endif %}

    </div>
</div>