{% extends "kagi/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}



<div class="flex justify-center">
    {{ form.non_field_errors }}
</div>

<div class="md:mt-20 flex justify-center">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
    {% csrf_token %}

    {% for field in form %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.login.id_for_label }}">
              {{ field.label_tag }}
          </label>
            {{ field|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
            {% for error in field.errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="flex flex-col  gap-2 ">
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

    </div>

  </form>


</div>

<div class="flex justify-center">
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a class="text-primgarycolor-500" href="/accounts/signup/">sign up</a> first.{% endblocktrans %}</p>
</div>
{% endblock %}