{% extends 'tailwind-base.html' %}
{% load i18n %}


{% block title %}{% blocktrans %}Sickness Dashboard{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="flex flex-col gap-4">
        <p>{% blocktrans %}Choose an employment:{% endblocktrans %}</p>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-4">
            {% if employments %}
                {% for employment in employments %}
                    <a href="{% url 'sickness_by_employment' employment.id %}"
                       class="rounded p-2 shadow bg-gray-50 hover:bg-gray-100">
                        <p>{{ employment.company.name }}</p>
                        <div class="text-sm text-gray-400">
                            <span>{{ employment.start }}</span>
                            {% if employment.end %}<span> {% trans "to" %} {{ employment.end }}</span>{% endif %}
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>{% blocktrans %}This section is available if you have at least one employment.{% endblocktrans %}</p>
            {% endif %}
        </div>

    </div>

{% endblock %}