{% extends 'tailwind-base.html' %}
{% load i18n %}


{% block title %} {% blocktrans with company=employment.company %}Sickness Periods for <span class="font-bold">{{ company }}{% endblocktrans %}</span>{% endblock %}

{% block content %}
    <div class="flex flex-col gap-4">

        <div class="my-4 p-2">
            <form action="#" method="post">
                {% csrf_token %}
                {% include "tailwind-form.html" %}
                <div class="my-2 flex flex-row gap-2">
                    <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
                </div>
            </form>

        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            {% for period in sickness_periods %}
                {% include "sickness/../components/sickness_period_card.html" with sickness_period=period show_controls=True %}
            {% endfor %}
        </div>
    </div>
{% endblock %}