{% extends 'tailwind-base.html' %}
{% load i18n %}


{% block title %}{% blocktrans with period_name=sickness_period.name company_name=employment.company.name %}Edit Sickness Period <span class="font-bold">{{ name }}</span>for
    <span class="font-bold">{{ company_name }}</span>{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="flex flex-col gap-4">

        <div class="my-4 p-2">
            <form action="#" method="post">
                {% csrf_token %}
                {% include "tailwind-form.html" %}
                <div class="my-2 flex flex-row gap-2">
                    <a href="{% url 'sickness_by_employment' employment.id %}" class="btn btn-secondary">Back</a>
                    <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
                </div>
            </form>

        </div>

    </div>
{% endblock %}