{% load widget_tweaks %}
<div class="my-1 text-red-500">
    {{ form.non_field_errors }}
</div>

<div class="flex flex-col md:flex-row gap-2 flex-wrap">
    {% for field in form %}
        <div class="">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.login.id_for_label }}">
              {{ field.label_tag }}
          </label>
            {{ field|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
            {% for error in field.errors %}
                <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
