
{% load widget_tweaks %}

{{ form.non_field_errors }}
     {{ inline_form_set.management_form }}

    <table class="w-full text-sm py-2">
    <tr class="text-left border-b-2 border-primarycolor-300">
        {% for field in inline_form_set.0.visible_fields %}
            <th>
                <div>{{ field.label_tag }}</div>
            </th>
        {% endfor %}
    </tr>
    {% for form in inline_form_set %}
    {{ form.id }}
        <tr>
                {% for field in form.visible_fields %}
                    <td>
                        <div class="my-2">
                            {{ field|add_class:"p-2 max-w-lg block focus:ring-primarycolor-500 focus:border-primarycolor-500  shadow-xs sm:max-w-xs sm:text-sm border border-gray-600 rounded-md" }}
                        </div>

                        {% if field.errors %}
                            {% for error in field.errors %}
                            <p class="text-red-500">{{ error }}</p>
                            {% endfor %}
                        {% else %}
                            <p class="text-sm text-gray-400">{{ field.help_text}}</p>
                        {% endif %}
                    </td>
                {% endfor %}
          {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
              <ul>
                {% for error in hidden_field.errors %}
                  <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {{ hidden_field }}
          {% endfor %}
        </tr>
    {% endfor %}

    </table>
