{% load widget_tweaks %}

{% for field in form %}
    <div class="flex flex-col gap2">

        <div class="grid grid-cols-1 md:grid-cols-3 md:gap-2 md:items-baseline md:border-t md:border-gray-200 py-2">
            <div>
                {{ field.label_tag }}
            </div>
            <div class="flex flex-row flex-wrap gap-1 items-center col-span-2">
                {{ field|add_class:"p-2 max-w-lg block focus:ring-primarycolor-500 focus:border-primarycolor-500 focus:border-2 shadow-xs sm:max-w-xs sm:text-sm border border-gray-600 rounded-md" }}
                {% if field.field.widget.template_name == 'django/forms/widgets/time.html' %}
                    <div class="btn btn-secondary" onclick="setToNowTime('{{ field.auto_id }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </div>
                {% endif %}
                {% if field.field.widget.template_name == 'django/forms/widgets/date.html' %}
                    <div class="btn btn-secondary" onclick="setToNowDate('{{ field.auto_id }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </div>
                {% endif %}
                {% if field.field.widget.template_name == 'django/forms/widgets/splitdatetime.html' %}
                    <div class="btn btn-secondary" onclick="setToNowDateTime('{{ field.auto_id }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </div>
                {% endif %}
            </div>


        </div>
        <div class="flex flex-row gap-2 flex-wrap items-center">
            {% if field.help_text %}
                <p class="text-sm text-gray-400">{{ field.help_text }}</p>
            {% endif %}

            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="text-red-500">{{ error }}</p>
                    <p class="text-red-500">error</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endfor %}
<div class="sm:grid sm:grid-cols-3 sm:gap-2 sm:items-baseline sm:border-t sm:border-gray-200">
</div>