{% load i18n %}
<div class="rounded p-2 bg-gray-50 hover:bg-gray-100 duration-100 shadow">
    <div class="flex flex-col gap-2">
            <div class="flex flex-wrap flex-row gap-2 justify-between">

                <p class="font-bold">{{ sickness_period.name }}
                    <span>{% blocktrans with days=sickness_period.get_days %}({{ days }} Day{{ days|pluralize }}){% endblocktrans %}</span>
                </p>
                <p class="text-gray-400 text-sm">{{ sickness_period.notes }}</p>

            </div>

            <p>{{ sickness_period.start|date:'l' }}, {{ sickness_period.start }} -
                {{ sickness_period.end|date:'l' }}, {{ sickness_period.end }}</p>
            {% if show_controls %}
                <div class="flex flex-row gap-2">
                    {% include "components/sickness_period_detail_button.html" %}
                    {% include "components/sickness_period_delete_button.html" %}
                </div>
            {% endif %}

    </div>
</div>