{% load i18n %}
<div>
    <div id="sickness_period_delete_modal{{ sickness_period.id }}" class="hidden fixed z-40 inset-0 overflow-y-auto"
         aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

            <div class="relative inline-block aling-middle bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full sm:p-6">
                <button class="absolute top-4 right-4"
                        onclick="toggleModal('sickness_period_delete_modal{{ sickness_period.id }}')">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
                <div>
                    <div class="mt-3 text-center sm:mt-5 flex flex-col gap-4">
                        <h3 class="leading-6 text-xl text-gray-900" id="modal-title">Delete sickness
                            period <span class="text-primarycolor-700">{{ sickness_period.name }}</span>?</h3>
                        <div class="flex flex-row gap-4 justify-between">
                            <button class="btn btn-secondary"
                                    onclick="toggleModal('sickness_period_delete_modal{{ sickness_period.id }}')">
                                {% trans "Abort" %}
                            </button>
                            <form method="post"
                                  action="{% url "sickness_by_employment_delete" employment.id sickness_period.id %}">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button
            class="btn btn-danger"
            onclick="toggleModal('sickness_period_delete_modal{{ sickness_period.id }}')"
    >
        <!-- heroicons.com trash-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
                  d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z"
                  clip-rule="evenodd"/>
        </svg>


    </button>
</div>