{% extends "tailwind-base.html" %}

{% load i18n %}
{% load account %}

{% block title %}E-mail Addresses{% endblock %}


{% block content %}
{% if user.emailaddress_set.all %}
<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

{% for emailaddress in user.emailaddress_set.all %}
    <div class="my-4">
          <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

          <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

    {{ emailaddress.email }}
        {% if emailaddress.verified %}
        <span class="my-2 p-2 bg-green-300 rounded-full">{% trans "Verified" %}</span>
        {% else %}
        <span class="p-2 bg-red-300 rounded-full">{% trans "Unverified" %}</span>
        {% endif %}
          {% if emailaddress.primary %}<span class="font-bold">{% trans "Primary" %}</span>{% endif %}
    </label>
    </div>
{% endfor %}

<div class="flex flex-row gap-2 flex-wrap">
      <button class="btn btn-primary" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
      <button class="btn btn-primary" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
      <button class="btn btn-danger" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

{% endif %}

<div class="my-2">
    <h3>{% trans "Add E-mail Address" %}</h3>
    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {% include "tailwind-form.html" %}
        <button class="btn btn-primary mt-2" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>
</div>


{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}