{% extends 'tailwind-base.html' %}

{% load i18n %}
{% load account socialaccount %}

{# {% block title %}Login{% endblock %} #}

{% block content %}

{% get_providers as socialaccount_providers %}

<!--
{#
{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
#}
-->



<div class="flex justify-center">
    {{ form.non_field_errors }}
</div>

<div class="md:mt-20 flex justify-center">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.login.id_for_label }}">
          {{ form.login.label }}
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ form.login.html_name }}" id="{{ form.login.id_for_label }}" type="text" placeholder="{{ form.login.label }}" autofocus="autofocus" required>
        {% for error in form.login.errors %}
            <p class="text-red-500">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.password.id_for_label }}">
        {{ form.password.label }}
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" type="password" placeholder="******************" required>
    </div>
    <div class="mb-4 flex flex-row items-baseline">
        <div class="mr-2">
            <input type="checkbox" name="{{ form.remember.html_name }}" class="" id="{{ form.remember.id_for_label }}">
        </div>
        <div>
            <label for="{{ form.remember.id_for_label }}">{{ form.remember.label }}</label>
        </div>
    </div>
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="flex flex-col  gap-2 ">
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

    </div>
  </form>


</div>

<div class="flex justify-center">
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a class="text-primarycolor-500" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
</div>
{% endblock %}