{% extends "tailwind-base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="flex justify-center ">
        <div class="flex items-center flex-col bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <svg class="w-12 h-12 text-primarycolor-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path></svg>
            <p>{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
{% endblock %}
