{% extends "tailwind-base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Password Reset{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="flex justify-center ">
            <div class="flex items-center flex-col bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <svg class="w-12 h-12 text-primarycolor-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                {% include "account/snippets/already_logged_in.html" %}
            </div>
        </div>
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
    {% include "tailwind-form.html" %}
        <input class="my-2 btn btn-primary hover:bg-primarycolor-500" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="my-2">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}