{% extends "tailwind-base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Change Password{% endblock %}



{% block content %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        {% include "tailwind-form.html" %}

        <button class="btn btn-primary mt-2" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}