{% extends "tailwind-base.html" %}


{% load i18n %}

{% block title %}Verify Your E-mail Address{% endblock %}

{% block content %}

<div class="flex justify-center ">
    <div class="flex items-center flex-col bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <svg class="w-12 h-12 text-primarycolor-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76"></path></svg>
        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>

</div>
{% endblock %}