{% load i18n %}
<div id="aboutModal" class="hidden fixed z-40 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div class="relative inline-block aling-middle bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full sm:p-6">
        <button class="absolute top-4 right-4" onclick="toggleModal('aboutModal')">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
        <div>
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-primarycolor-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <circle cx="12" cy="12" r="9"></circle>
               <polyline points="12 7 12 12 15 15"></polyline>
            </svg>
        </div>
        <div class="mt-3 text-center sm:mt-5 flex flex-col gap-4">
            <h3 class="leading-6 text-xl text-gray-900" id="modal-title">{% trans "Timesheets" %}</h3>
            <p>{% blocktrans %}Timesheets is a Django application that allows users to track their working time based on configurable categories and subcategories down to the minute across diffeent employments. It provides elaborate statistics and exports. Furthermore, it has an integraged holiday management solution.{% endblocktrans %}</p>
            <a href="https://gitlab.com/timesheets1/timesheets/" target="_blank" class="font-bold text-primarycolor-500 underline">{% blocktrans %}Source code{% endblocktrans %}</a>
            <p>{% blocktrans %}Version: {{ version }}::{{ commit }}{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </div>
</div>