{% block messages %}

    {% if messages %}

        <div class="flex flex-col">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                    <div id="{{ message }}"
                         class="mb-2 bg-gray-50 text-gray-500 px-4 py-3 flex flex-row items-center gap-4" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                        </svg>
                        <span class="block sm:inline flex-1">{{ message }}</span>
                        <div
                                class="cursor-pointer"
                                onclick="hideMessage('{{ message }}')"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </div>
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div id="{{ message }}"
                         class="mb-2 bg-gray-100 text-gray-700 px-4 py-3 flex flex-row items-center gap-4" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>
                        <span class="block sm:inline flex-1">{{ message }}</span>
                        <div
                                class="cursor-pointer"
                                onclick="hideMessage('{{ message }}')"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </div>
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div id="{{ message }}"
                         class="mb-2 bg-green-100 text-green-700 px-4 py-3 flex flex-row items-center gap-4"
                         role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                        </svg>
                        <span class="block sm:inline flex-1">{{ message }}</span>
                        <div
                                class="cursor-pointer"
                                onclick="hideMessage('{{ message }}')"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </div>
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div id="{{ message }}"
                         class="mb-2 bg-yellow-100 text-yellow-700 px-4 py-3 flex flex-row items-center gap-4"
                         role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>
                        <span class="block sm:inline flex-1">{{ message }}</span>
                        <div
                                class="cursor-pointer"
                                onclick="hideMessage('{{ message }}')"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </div>
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div id="{{ message }}"
                         class="mb-2 bg-red-100 text-red-700 px-4 py-3 flex flex-row items-center gap-4" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                        </svg>
                        <span class="block sm:inline flex-1">{{ message }}</span>
                        <div
                                class="cursor-pointer"
                                onclick="hideMessage('{{ message }}')"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <script>
            function hideMessage(message_id) {
                var message_element = document.getElementById(message_id);
                message_element.classList.add("hidden");
            }
        </script>
    {% endif %}

{% endblock %}

