{% load i18n %}
<nav class="px-4 flex flex-row gap-2 justify-between items-center">

    <a class="navlink text-2xl" href="/">
        {% trans "Timesheets" %}
    </a>
    {% if user.is_authenticated %}

        <div class="relative  inline-block text-left">
            <div class="block md:hidden">
                <button onclick="toggleDropdown('navitems')" type="button" class="btn btn-nav" id="menu-button"
                        aria-expanded="true" aria-haspopup="true">
                    <svg xmlns="http://www.w3.org/2000/svg" class="m-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </button>
            </div>

            <div id="navitems"
                 class="z-10 hidden md:block origin-top-right absolute md:relative right-0 mt-2 md:m-0 w-56 md:w-full rounded-md md:rounded-none shadow-lg md:shadow-none bg-white"
                 role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1 px-2 md:p-0 flex flex-col md:flex-row gap-2 md:flex-wrap md:items-center" role="none">
                    {% include "components/nav_elements_new.html" %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="flex flex-row gap-2">

            {% include "components/language_switcher_advanced.html" %}

            <button onclick="toggleModal('aboutModal')" class="btn btn-nav">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" stroke-width="2"
                     stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="9"></circle>
                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                    <polyline points="11 12 12 12 12 16 13 16"></polyline>
                </svg>
                <span>{% trans "About" %}</span>
            </button>

        </div>
    {% endif %}

    <!--about modal -->
    {% include "components/about_modal.html" %}
</nav>
