{% load i18n %}

<div class="relative inline-block text-left">
    <div>
        <a href="{% url 'timesheets_today' %}" type="button" class="btn btn-nav" id="menu-button" aria-expanded="true"
           aria-haspopup="true">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="9"></circle>
                <polyline points="12 7 12 12 15 15"></polyline>
            </svg>
            <span>{% trans "Today" %}</span>
        </a>
    </div>

    <div id="todayDropdown"
         class="z-30 hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
         role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">

    </div>
</div>

{% if users_employments %}


    <div class="relative inline-block text-left">
        <div>
            <button onclick="toggleDropdown('employmentNavDropdown')" type="button" class="btn btn-nav" id="menu-button"
                    aria-expanded="true" aria-haspopup="true">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 2-4" viewBox="0 0 24 24" stroke-width="2"
                     stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
                    <path d="M18 14v4h4"></path>
                    <circle cx="18" cy="18" r="4"></circle>
                    <path d="M15 3v4"></path>
                    <path d="M7 3v4"></path>
                    <path d="M3 11h16"></path>
                </svg>
                <span>{% blocktrans %}Current Week{% endblocktrans %}</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" stroke-width="2"
                     stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </button>
        </div>

        <div id="employmentNavDropdown"
             class="z-30 hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
             role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1 px-1 flex flex-col gap-2" role="none">
                <a class="btn btn-nav" href="{% url 'timesheets_current_week' %}">----</a>
                {% for employment in users_employments %}
                    <a class="btn btn-nav"
                       href="{% url 'timesheets_current_week_employment' employment_id=employment.id %}">{{ employment.company }}</a>
                {% endfor %}
            </div>

        </div>
    </div>

{% else %}
    <div class="navitem">
        <a class="btn btn-nav " href="{% url 'timesheets_current_week' %}">{% blocktrans %}Current Week{% endblocktrans %}</a>
    </div>
{% endif %}

<div class="relative inline-block text-left">
    <div>
        <button onclick="toggleDropdown('managementNavDropdown')" type="button" class="btn btn-nav" id="menu-button"
                aria-expanded="true" aria-haspopup="true">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="6" cy="10" r="2"></circle>
                <line x1="6" y1="4" x2="6" y2="8"></line>
                <line x1="6" y1="12" x2="6" y2="20"></line>
                <circle cx="12" cy="16" r="2"></circle>
                <line x1="12" y1="4" x2="12" y2="14"></line>
                <line x1="12" y1="18" x2="12" y2="20"></line>
                <circle cx="18" cy="7" r="2"></circle>
                <line x1="18" y1="4" x2="18" y2="5"></line>
                <line x1="18" y1="9" x2="18" y2="20"></line>
            </svg>
            <span>{% trans "Management" %}</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </button>
    </div>

    <div id="managementNavDropdown"
         class="z-20 hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
         role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1 px-1 flex flex-col gap-2" role="none">
            <a class="btn btn-nav" href="{% url 'management_dashboard' %}">
                <span>{% trans "Dashboard" %}</span>
            </a>

            <a href="{% url 'holiday_dashboard' %}" class="btn btn-nav" id="menu-button" aria-expanded="true"
               aria-haspopup="true">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" stroke-width="2"
                     stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="11" cy="17" r="2"></circle>
                    <line x1="21" y1="17" x2="13" y2="17"></line>
                    <path d="M9 17h-5a1 1 0 0 1 -1 -1v-9a2 2 0 0 1 2 -2h10l4 4v8"></path>
                    <rect x="6" y="8" width="6" height="4" rx="1"></rect>
                </svg>
                <span>{% trans "Holidays" %}</span>
            </a>

            <a href="{% url 'sickness_dashboard' %}" type="button" class="btn btn-nav" id="menu-button" aria-expanded="true"
               aria-haspopup="true">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stethoscope w-4 h-4"
                     viewBox="0 0 24 24" stroke-width="2" stroke="#2c3e50" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1"/>
                    <path d="M8 15a6 6 0 1 0 12 0v-3"/>
                    <path d="M11 3v2"/>
                    <path d="M6 3v2"/>
                    <circle cx="20" cy="10" r="2"/>
                </svg>
                <span>{% trans "Sickness" %}</span>
            </a>
            <a href="{% url 'interval_change_categories' %}" type="button" class="btn btn-nav" id="menu-button" aria-expanded="true"
               aria-haspopup="true">

                <span>{% trans "Interval Categories" %}</span>
            </a>
            {% if admin_company_employments %}
                {% for employment in admin_company_employments %}

                    <a href="{% url 'management_company_detail' employment.company.id %}" class="btn btn-nav">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2"
                             stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="3" y1="21" x2="21" y2="21"></line>
                            <path d="M5 21v-14l8 -4v18"></path>
                            <path d="M19 21v-10l-6 -4"></path>
                            <line x1="9" y1="9" x2="9" y2="9.01"></line>
                            <line x1="9" y1="12" x2="9" y2="12.01"></line>
                            <line x1="9" y1="15" x2="9" y2="15.01"></line>
                            <line x1="9" y1="18" x2="9" y2="18.01"></line>
                        </svg>
                        <span>{{ employment.company.name }}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>

    </div>
</div>


<div class="relative inline-block text-left">
    <div>
        <button onclick="toggleDropdown('statisticsNavDropdown')" type="button" class="btn btn-nav" id="menu-button"
                aria-expanded="true" aria-haspopup="true">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="3" y="12" width="6" height="8" rx="1"></rect>
                <rect x="9" y="8" width="6" height="12" rx="1"></rect>
                <rect x="15" y="4" width="6" height="16" rx="1"></rect>
                <line x1="4" y1="20" x2="18" y2="20"></line>
            </svg>
            <span>{% trans "Statistics" %}</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </button>
    </div>

    <div id="statisticsNavDropdown"
         class="z-20 hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
         role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1 px-1 flex flex-col gap-2" role="none">
            <a class="btn btn-nav" href="{% url 'interval_overview_and_export' %}">{% trans "Intervals" %}</a>
            <a class="btn btn-nav" href="{% url 'statistic_tokens_list_create' %}">{% trans "Tokens" %}</a>
            {% for employment in users_employments %}
                <a class="btn btn-nav"
                   href="{% url 'company_interval_statistics' company_id=employment.company.id %}">{{ employment.company }}</a>
            {% endfor %}
        </div>

    </div>
</div>

<div class="relative inline-block text-left">
    <div>
        <button onclick="toggleDropdown('userNavDropdown')" type="button" class="btn btn-nav" id="menu-button"
                aria-expanded="true" aria-haspopup="true">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="7" r="4"></circle>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
            <span>{{ user.username }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </button>

    </div>

    <div id="userNavDropdown"
         class="z-30 hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
         role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1 px-1 flex flex-col gap-2" role="none">
            {% if user.is_staff %}
                <a class="btn btn-nav" href="{% url 'admin:index' %}" target="_blank">{% trans "Admin" %}</a>
            {% endif %}
            <a class="btn btn-nav" href="{% url 'account_email' %}">{% blocktrans %}Change Email{% endblocktrans %}</a>
            <a class="btn btn-nav" href="{% url 'account_change_password' %}">{% blocktrans %}Change Password{% endblocktrans %}</a>
            <a class="btn btn-nav" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
            {% include "components/language_switcher_advanced.html" %}
        </div>

    </div>
</div>


<div class="relative inline-block text-left">
    <div>
        <button onclick="toggleDropdown('navitems'); toggleModal('aboutModal')" class="btn btn-nav">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="9"></circle>
                <line x1="12" y1="8" x2="12.01" y2="8"></line>
                <polyline points="11 12 12 12 12 16 13 16"></polyline>
            </svg>
            <span>{% trans "About" %}</span>
        </button>
    </div>
</div>
