<nav class="flex flex-col md:flex-wrap md:justify-start md:items-baseline md:flex-row">
    <div class="navitem py-1 flex flex-row items-center justify-between">
        <a class="navlink text-2xl" href="/">
            Timesheets
        </a>
        <button class="md:hidden" onclick="toggleNavbar()">
            <svg xmlns="http://www.w3.org/2000/svg" class="m-2 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>

    </div>
    <div id="navbarLinks" class="hidden md:contents">
        {% if user.is_authenticated %}
        <div class="navitem">
            <a class="navlink" href="{% url 'timesheets_today' %}">Today</a>
        </div>
        {% if users_employments %}
          <div class="navitem relative group">
              <a class="navlink" href="{% url 'timesheets_current_week' %}">
                  <span>Current Week</span>
              </a>
              <div class="absolute z-50 hidden group-hover:block group-focus:block">
                  <div class="p-4 shadow-lg rounded-r-xl md:rounded-b-xl bg-white flex flex-col w-56">
                        <a class="navlink" href="{% url 'timesheets_current_week' %}">----</a>
                        {% for employment in users_employments %}
                              <a class="navlink" href="{% url 'timesheets_current_week_employment' employment_id=employment.id %}">{{ employment.company }}</a>
                        {% endfor %}
                  </div>
              </div>
          </div>
        {% else %}
        <div class="navitem">
            <a class="navlink " href="{% url 'timesheets_current_week' %}">Current week</a>
        </div>
        {% endif %}


        <div class="navitem relative group">
              <a class="navlink" href="{% url 'management_dashboard' %}">
                  <span>Management</span>
              </a>
              <div class="absolute z-50 hidden group-hover:block group-focus:block">
                  <div class="p-4 shadow-lg rounded-b-xl bg-white flex flex-col w-56">
                        <a class="navlink" href="{% url 'management_dashboard' %}">My Employments</a>
                        {% if admin_company_employments %}
                            {% for employment in admin_company_employments %}

                                <a href="{% url 'management_company_detail' employment.company.id %}" class="navlink flex flex-row gap-2 items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M3 21h18"></path>
                                       <path d="M5 21v-12l5 4v-4l5 4h4"></path>
                                       <path d="M19 21v-8l-1.436 -9.574a0.5 .5 0 0 0 -.495 -.426h-1.145a0.5 .5 0 0 0 -.494 .418l-1.43 8.582"></path>
                                       <path d="M9 17h1"></path>
                                       <path d="M14 17h1"></path>
                                    </svg>
                                    <span>{{ employment.company.name }}</span>
                                </a>
                            {% endfor %}
                        {% endif %}
                        <a class="navlink" href="{% url 'management_interval_integrity' %}">Interval Integrity</a>
                   </div>
              </div>
        </div>


        <div class="navitem">
            <a class="navlink" href="{% url 'holiday_dashboard' %}">Holidays</a>
        </div>


        <div class="navitem relative group">
              <a class="navlink" href="#">
                  <span>Statistics</span>
              </a>

              <div class="absolute z-50 hidden group-hover:block group-focus:block">
                  <div class="p-4 shadow-lg rounded-b-xl bg-white flex flex-col w-56">
                        <a class="navlink" href="{% url 'interval_overview_and_export' %}">Intervals</a>
                        <a class="navlink" href="{% url 'statistic_tokens_list_create' %}">Tokens</a>
                  </div>
              </div>
        </div>
        {% endif %}

        <div class="navitem">
            <a class="navlink" href="{% url 'impressum' %}">Impressum</a>
        </div>

        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <div class="navitem">
                    <a class="navlink" href="{% url 'admin:index' %}" target="_blank">Admin</a>
                </div>
            {% endif %}
            <div class="navitem relative group">
                  <a class="navlink" href="#">
                      <span>Hi {{ user.username }}</span>
                  </a>
                  <div class="absolute z-50 hidden group-hover:block group-focus:block">
                      <div class="p-4 shadow-lg rounded-b-xl bg-white flex flex-col w-56">
                            <a class="navlink" href="{% url 'account_email' %}">Change Email</a>
                            <a class="navlink" href="{% url 'account_change_password' %}">Change Password</a>
                            <a class="navlink" href="{% url 'account_logout' %}">Logout</a>
                      </div>
                  </div>
            </div>
        {% else %}
        <div class="navitem">
            <a class="navlink" href="{% url 'account_login' %}">Login</a>
        </div>
        {% endif %}

        {% if version and commit %}
        <div class="navitem md:hidden select-all text-sm text-gray-600 text-center">
            <div class="px-2">Version: {{ version }}::{{ commit }}</div>
        </div>
        {% endif %}


    </div>

</nav>